<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Hello <%= @user.profile.full_name %>,</span>
</p>
<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you for being a valued member at <%= @community.title %>. As of today,
    <%= Date.current.strftime('%B %d, %Y') %> we have not received an active insurance policy meeting the requirements
    outlined in your lease. As referenced in your lease agreement, <%= @community.title %> requires a minimum liability
    coverage amount of <%= number_to_currency(@min_liability.to_f / 100, unit: "$") %> for the length of your lease.
    Due to noncompliance, you will be charged a fee of <%= number_to_currency(@placement_cost, unit: "$") %> each month.
    Please note the Non-Compliance Fee will be assessed until the minimum insurance requirements are met.</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">To activate an insurance policy of your own, please follow one of the options below. Once Get
    Covered confirms your new policy meets the insurance requirements, you will no longer be assessed the non-compliance
    fee of <%= number_to_currency(@placement_cost, unit: "$") %>.</span>
</p>

<ul style="padding-left: 20px; list-style-type: circle;">
  <li>
    <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
      <span style="font-size: 16px;">Purchase a policy through our preferred partner Get Covered who offers several policies through
    A-rated carriers that meet the required insurance requirements.</span><br>
      <span style="font-size: 16px; font-weight: bold; display: block; text-align: center; margin-top: 1em;">
        <a href="<%= @onboarding_url %>">
          <button style="
            background-color: <%= @branding_profile.styles["client"]["colors"]["primary"] %>;
            color: <%= @branding_profile.styles["client"]["colors"]["highlight"] %>;
            border: 1px <%= @branding_profile.styles["client"]["colors"]["secondary"] %> solid;
            border-radius: 3px 3px;
            font-size: 16px;
            padding: 8px 12px;
          ">Buy Now</button>
        </a>
      </span>
    </p>
  </li>
  <li>
    <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
      <span style="font-size: 16px;">Purchase a policy through a 3rd party company. Once purchased, please complete the below steps:</span>
    </p>
    <ul style="padding-left: 20px; list-style-type: circle;">
      <li>
        <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
          <span style="font-size: 16px;">Update the <a href="<%= @branding_profile.url %>/additional-interest/">Additional Interest</a> in your policy to:<br><br>
            <%= @pm_account.additional_interest ? @pm_account.title : @community.title %><br>
            <%= @pm_account.primary_address().combined_street_address %><%= ", #{ @pm_account.primary_address().street_two }" unless @pm_account.primary_address().street_two.nil? %><br>
            <%= @pm_account.primary_address().city %>, <%= @pm_account.primary_address().state %> <%= @pm_account.primary_address().combined_zip_code %></span>
        </p>
      </li>
      <li>
        <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
          <span style="font-size: 16px;">Once this update is made, please upload a copy of your certificate of insurance <a href="<%= @onboarding_url %>">here</a>.</span>
        </p>
      </li>
    </ul>
  </li>
</ul>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Once you purchase an insurance policy through Get Covered or submit your updated policy meeting the
    insurance requirements, you will be all set.</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you,<br> <%= @pm_account.title %> & Get Covered<br>
    <a href="mailto:<%= @from %>"><%= @from %></a></span>
</p>