<% if @policy.status == "EXTERNAL_UNVERIFIED" %>
  <!--
  ----
  ---- This is for new external policies with an external_unverified status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hi <%= @user.profile.full_name %>,</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      <b>Nifty! </b>
      Thanks for submitting your insurance declaration page.
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      Get Covered is reviewing your policy to ensure that it meets the requirements of your management company.
      Your management company (<%= @pm_account&.title %>) has the following requirements:
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 50px; margin-right: 50px; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      Liability Coverage: {{ Liability Coverage Min }}
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;"> For reference, your Review # is: <b><%= @policy.id %></b> </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;"> We will notify you as soon as the review is complete.</span>
  </p>
<% elsif @policy.status == "EXTERNAL_VERIFIED" %>
  <!--
  ----
  ---- This is for external policies that have been updated to an external_verified status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hi <%= @user.profile.full_name %>,</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      <b>Cool Beans!</b>
      Your insurance meets all the requirements of your management company (<%= @pm_account.title %>) and has been approved.
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;"> Review #:  <b><%= @policy.id %></b> </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      If you decide to switch carriers, please make sure to upload your new policy information in the Get Covered portal at
      <a href="<%= @onboarding_url %>" target="_blank">
        <%= @onboarding_url %>
      </a>
    </span>
  </p>
<% elsif @policy.status == "EXTERNAL_REJECTED" %>
  <!--
  ----
  ---- This is for external policies that have been updated to an external_rejected status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hi <%= @user.profile.full_name %>,</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      <b>Wait a minute... Action Needed! </b>
      The policy information that you submitted does not meet the requirements of your management company (<%= @pm_account.title %>).
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      Please resolve the following error(s) listed below:
    </span>
  </p>
  <ul style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <li style="font-size: 16px;">{{ Declined Policy Review Reason }}</li>
    <li style="font-size: 16px;">{{ Declined Policy Review Reason }}</li>
    <li style="font-size: 16px;">{{ Declined Policy Review Reason }}</li>
    <li style="font-size: 16px;">{{ Declined Policy Review Reason }}</li>
  </ul>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;"> Review #: <b><%= @policy.id %></b> </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      Either reupload your new file on our portal at
      <a href="<%= @onboarding_url %>" target="_blank">
        <%= @onboarding_url %>}
      </a>
      or email
      <a href="mailto: <%= @from %>" target="_blank">
        <%= @from %>
      </a>
      with your new file attached.
    </span>
  </p>
<% end %>