<% if @policy.status == "EXTERNAL_UNVERIFIED" %>
  <!--
  ----
  ---- This is for new external policies with an external_unverified status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hi <%= @user.profile.full_name %>,</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      <b>Nifty! </b>
      Thanks for submitting your insurance declaration page.
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      Get Covered is reviewing your policy to ensure that it meets the requirements of <%= @pm_account&.title %>
    </span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;"> We will notify you as soon as the review is complete.</span>
  </p>
<% elsif @policy.status == "EXTERNAL_VERIFIED" %>
  <!--
  ----
  ---- This is for external policies that have been updated to an external_verified status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hello <%= @user.profile.full_name %>,</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">This email is to confirm we have received, verified, and approved your insurance policy.
      <%= @community.title %> has been notified of your active policy and no further action is needed. If you have
      any questions, please reply to this email.</span>
  </p>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">
      If you decide to switch carriers, please make sure to upload your new policy information in the Get Covered portal at
      <a href="<%= @onboarding_url %>" target="_blank"><%= @branding_profile.url %></a>
    </span>
  </p>
<% elsif @policy.status == "EXTERNAL_REJECTED" %>
  <!--
  ----
  ---- This is for external policies that have been updated to an external_rejected status
  ----
  --->
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Hello <%= @user.profile.full_name %>,</span>
  </p>

  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">While evaluating your insurance policy submitted to Get Covered, we have found the policy does
      not meet the requirements specified by <%= @community.title %>.</span>
  </p>

  <% if @policy.system_data.has_key?("rejection_reasons") && @policy.system_data["rejection_reasons"].length >= 1 %>
  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Please resolve the following error(s) listed below:</span>
  </p>

  <span style="padding-left: 20px; list-style-type: circle;">
    <% @policy.system_data["rejection_reasons"].each do |reason| %>
    <li>
      <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
          <span style="font-size: 16px;"><%= reason %></span>
      </p>
      <% if reason == Policy.rejection_reasons["pm_not_additional_interest"] %>
      <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
        <p style="font-size: 16px;">Contact your insurance agent and request the additional interest on your
                          policy is updated to the below then resubmit your policy for approval.</p>
              <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em; padding-left: 3em">
                 <span style="font-size: 16px;"><%= @policy&.account.additional_interest ? (@policy&.account.additional_interest_name || @policy&.account&.title) : (@policy.primary_insurable&.additional_interest_name || @policy.primary_insurable&.title) %></span>
              </p>
              <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em; padding-left: 3em">
                <span style="font-size: 16px;"><%= @policy&.account.additional_interest ? @policy&.account&.primary_address&.combined_street_address : @policy&.primary_insurable&.primary_address&.combined_street_address %></span>
              </p>
              <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em; padding-left: 3em">
                <span style="font-size: 16px;"><%= @policy&.account.additional_interest ? @policy&.account&.primary_address&.city : @policy&.primary_insurable&.primary_address&.city %>, <%= @policy&.account.additional_interest ? @policy&.account&.primary_address&.state : @policy&.primary_insurable&.primary_address&.state %>, <%= @policy&.account.additional_interest ? @policy&.account&.primary_address&.zip_code : @policy&.primary_insurable&.primary_address&.zip_code %></span>
              </p>

        </p>
    <% end %>
    </li>
    <% end %>

  </span>
  <% end %>

  <p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
    <span style="font-size: 16px;">Upload your updated insurance policy on <a href="<%= @onboarding_url %>">our portal</a>. Once
      verified, <%= @community.title %> will be notified of your active policy and no further action is needed.<br><br>
      We appreciate your prompt attention to the above insurance requirement. If you have any questions, please reply
      to this email.</span>
  </p>
<% end %>
<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you,<br> <%= @pm_account.title %> & Get Covered<br>
    <a href="mailto:<%= @from %>"><%= @from %></a></span>
</p>
