<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Hello <%= @user.profile.full_name %>,</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you for being a valued member at <%= @community.title %>. We recently received
    notification that your insurance policy has lapsed or is cancelled. You are out of compliance with your lease
    agreement and subject to a non-compliance fee of <%= number_to_currency(@placement_cost, unit: "$") %>.</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Active insurance is required for the length of your lease. Please activate your
    insurance policy through one of the two options below as soon as possible.</span>
</p>

<h4 style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 18px; font-weight: bold">Option 1:</span>
</h4>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">For your convenience, <%= @pm_account.title %> has partnered with Get Covered to offer
    preferred insurance rates. Once your purchase is complete, <%= @community.title %> will be notified of your active
    policy and no further action is needed. To activate a policy with Get Covered, please visit
    <a href="<%= @onboarding_url %>"><%= @branding_profile.url %></a> to purchase a policy.</span></p>

<h4 style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 18px; font-weight: bold">Option 2:</span>
</h4>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">If you would prefer to have coverage through a 3rd party insurance carrier, please ensure that your
    policy meets the requirements below. Visit <a href="<%= @onboarding_url %>">Get Covered</a> to register and upload a
    copy of your certificate of insurance by your lease start date. Once verified, <%= @community.title %> will be notified
    of your active policy and no further action is needed.</span>
</p>

<h5 style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 0em;">
  <span style="font-size: 16px; font-weight: bold;"><u>Insurance minimum requirements:</u></span>
</h5>
<ul style="padding-left: 20px; list-style-type: circle;">
  <li style="font-size: 16px;"><strong>Name:</strong> <%= @user.profile.full_name %> & all leaseholders</li>
  <% unless @address.nil? %>
  <li style="font-size: 16px;"><strong>Address:</strong> <%= @address %></li>
  <% end %>
  <li style="font-size: 16px;"><strong>Minimum Liability Coverage:</strong> <%= number_to_currency(@min_liability.to_f / 100, unit: "$", precision: 0) %></li>
  <li style="font-size: 16px;"><strong>Policy Start Date:</strong> <%= @lease&.start_date&.strftime('%B %d, %Y') %></li>
  <li style="font-size: 16px;"><strong>Policy End Date:</strong> <%= @lease&.end_date&.strftime('%B %d, %Y') %></li>
  <li style="font-size: 16px;">
    <strong>Additional Interest:</strong><br>
    <%= @pm_account.additional_interest ? @pm_account.title : @community.title %><br>
    <%= @pm_account.primary_address().combined_street_address %><%= ", #{ @pm_account.primary_address().street_two }" unless @pm_account.primary_address().street_two.nil? %><br>
    <%= @pm_account.primary_address().city %>, <%= @pm_account.primary_address().state %> <%= @pm_account.primary_address().combined_zip_code %>
  </li>
</ul>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Failure to meet the minimum insurance requirements will result in <%= @community.title %>
    assessing a non-compliance fee of <%= number_to_currency(@placement_cost, unit: "$") %> per month, until said requirements are met.</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">We appreciate your prompt attention to the above insurance requirements. Please reply
    to this email if you have any questions.</span>
</p>

<p style="margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 2em;">
  <span style="font-size: 16px;">Thank you,<br> <%= @pm_account.title %> & Get Covered<br>
    <a href="mailto:<%= @from %>"><%= @from %></a></span>
</p>