<p>Hey <%= @user.profile.first_name %>,</p>
<p>We are sorry to see you go! We appreciate and value any feedback you may have on our <%= @policy.number %> product and service. If there’s something that we could have done to make your experience with <%= @agency.title %> better, please reach out to us at <%= @agency_email %>.</p>
<p>It has been a pleasure to do business with you.</p>
<p>Best,</p>
<p><%= @agency.title %></p>

<p><b>Cancellation Confirmation</b></p>
<p><b>Date of Notice</b></p><p><%= Time.now.strftime("%Y-%m-%d") %></p>
<p><b>Policyholder</b></p><p><%= @user.profile.full_name %></p><p><%=@user.address.full_street_address %></p>
<p><b>Product</b></p><p><%= @policy.policy_type.title %></p><p><%= @policy.number %></p>
<p><b>Company</b></p><p><%= @agency.title %></p><p><%= @agency.primary_address %></p>
<p>This policy has been canceled as requested by the policyholder.</p>
<p>This cancellation is effective: <%= @policy.cancellation_date_date %></p>
<p>Please contact us at <%= @agency_email %> if you have any questions.</p>
