<div class="row">
    <div class="col">
        <h2>Process policy
            <small class="text-muted">Update covered statuses for all related objects to given policy</small>
        </h2>
        <form action="/v2/stats/update" method=POST>
            <input type="text" name="policy_id" />
            <input type="submit" value="Update status">
        </form>


        <% if @policy %>
            <h3>Policy ID: <%= @policy.id %>, # <%=@policy.number%></h3>
            <p>
                Tenants mismatched: <%=@tenants_mismatched_cx %>
            </p>

            <table class="table">
                <% @policy.attributes.each do |k, v| %>
                    <tr>
                        <td><b><%=k%></b></td>
                        <td><%=v %></td>
                    </tr>
                <% end %>
            </table>
            <h3>Insurable</h3>
            <table class="table">
                <% @insurable.attributes.each do |k, v| %>
                    <tr>
                        <td><b><%=k%></b></td>
                        <td><%=v %></td>
                    </tr>
                <% end %>
            </table>

            <h3>Leases</h3>
            <% @leases.each do |lease| %>
                <table class="table">
                    <% lease.attributes.each do |k, v| %>
                        <tr>
                            <td><b><%=k%></b></td>
                            <td><%=v %></td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
        <% end %>
    </div>
</div>
</div>
