<td class="o_bg-white o_px-md o_py-md o_sans o_text o_text-secondary" align="left" style="font-family: Helvetica, Arial, sans-serif;margin-top: 0px;margin-bottom: 0px;font-size: 16px;line-height: 24px;background-color: #ffffff;color: #424651;padding-left: 24px;padding-right: 24px;padding-top: 24px;padding-bottom: 24px;">
  <div style="font-size: 24px; line-height: 24px; height: 24px;">&nbsp; </div>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;"><%= t('shared.hi_there', name: @user.profile.first_name) %></p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;">
    <%= t('card_info_update_mailer.please_update_card_info.text',
          policy_type: t("policy_type_model.#{@policy.policy_type.title.parameterize.underscore}"),
          agency_title: @agency.title) %>
    <a href="https://<%="#{@branding_profile.url}/user/payment-methods" %>"><%="#{@branding_profile.url}/user/payment-methods" %></a>
  </p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;"><%= t('card_info_update_mailer.please_update_card_info.contact_us', contact_email: @from) %></p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;"><%= t('shared.thank_you') %></p>
  <p class="o_mb-xs" style="margin-top: 0px;margin-bottom: 8px;"><%= @agency.title %></p>
  <div style="font-size: 16px; line-height: 16px; height: 16px;">&nbsp; </div>
</td>
