<p>Dear <%= @name %>,</p>
<p>Thank you for using <%= @branding_profile.title %> for your <%= @policy.number %> Policy.</p>
<p>The credit card listed in your account is soon to expire.</p>
<p>Please login to <%= @branding_profile.title %> at the link below to update your credit card information to avoid interruption of coverage.</p>
<p><a href="<%="#{@branding_profile.url}/user/payment-methods" %>"><%="#{@branding_profile.url}/user/payment-methods" %></a></p>
<p>Feel free to contact us at <%= @from %></p>
<p>If you have any questions.</p>
<p>Thank you,</p>
<p><%= @branding_profile.title %></p>
