<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QBE Master Policy Evidence of Insurance</title>
  <style>
      /* http://meyerweb.com/eric/tools/css/reset/
         v2.0 | 20110126
         License: none (public domain)
      */

      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
          display: block;
      }
      body {
          line-height: 1;
      }
      ol, ul {
          list-style: none;
      }
      blockquote, q {
          quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
          content: '';
          content: none;
      }
      table {
          border-collapse: collapse;
          border-spacing: 0;
      }
  </style>

  <style>
      body { font-family: "Arial", Verdana, Tahoma; }

      #documentContainer { width: 90%; max-width: 468pt; margin: 0 auto; padding: 2em 0; }
      .text-center { text-align: center; }
      .text-right { text-align: right;}
      .font-weight-normal { font-weight: normal; }
      .table-padded { padding: 10px; }

      p { font-size: 9px; }
      p.float-left { width: 50%; float: left; padding: 3em 0 1em; }
      small { font-size: 7px; }

      h3 { font-size: 16px; font-weight: bold; }
      h4 { font-size: 10px; font-weight: bold; padding: 1em 0 0.5em; }

      table { width: 100%; }
      table#coverageTable tr td:first-child { width: 50%; }
      table#coverageTable tr td:nth-child(2),
      table#coverageTable tr td:nth-child(3) { width: 25%; }
      table tr { border-bottom: 1px #000000 solid; }
      table tr.no-border-bottom { border-bottom: none; }
      table tr.border-top { border-top: 1px #000000 solid; }
      table tr.split-width td { width: 50%; }
      table tr td { padding: 5px 10px; text-align: start; vertical-align: middle; border: 1px #000000 solid; font-size: 9px; }
      table tr td.no-border { border: none; }
      table tr td.no-border-top { border-top: none; }
      table tr td.no-border-left { border-left: none; }
      table tr td.no-border-bottom { border-bottom: none; }
      table tr td.no-border-right { border-right: none; }
      table tr td.unpadded { padding: 0px; }
      table tr td.v-align-top { vertical-align: top; }
      table tr td table tr td { border-top: none; }

  </style>
</head>

<body>
<div id="documentContainer">

  <!-- Header -->
  <table>
    <tr>
      <td class="no-border">
        <img alt="logo" height="31" src="https://gc-public-prod.s3.us-west-2.amazonaws.com/assets/logo.png" width="71">
      </td>
      <td class="no-border">
        <h3 class="text-center"><strong>EVIDENCE OF PERSONAL PROPERTY INSURANCE</strong></h3>
      </td>
      <td>
        <p>
          <small>DATE(DD/MM/YYYY)</small><br>
          <strong><%= Time.current.strftime("%m/%d/%Y") %></strong>
        </p>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td class="no-border-top">
        <p>THIS EVIDENCE OF PROPERTY INSURANCE IS ISSUED AS A MATTER OF INFORMATION ONLY AND CONFERS NO RIGHTS
          UPON THE ADDITIONAL INTEREST NAMED BELOW. THIS EVIDENCE DOES NOT AFFIRMATIVELY OR NEGATIVELY AMEND,
          EXTEND OR ALTER THE COVERAGE AFFORDED BY THE POLICIES BELOW. THIS EVIDENCE OF INSURANCE DOES NOT
          CONSTITUTE A CONTRACT BETWEEN THE ISSUING INSURER(S), AUTHORIZED REPRESENTATIVE OR PRODUCER, AND
          THE ADDITIONAL INTEREST.</p>
      </td>
    </tr>
  </table>

  <table>
    <tr class="split-width">
      <td class="no-border-top unpadded v-align-top">
        <table>
          <tr class="no-border-bottom">
            <td class="no-border-left no-border-bottom">
              <small>
                AGENCY<br>
                <%= @agency.title %>
              </small>
            </td>
            <td class="no-border-right">
              <small>
                PHONE(A/C, No, Ext):<br>
                <%= @agency.contact_info["phone"] %>
              </small>
            </td>
          </tr>
        </table>

        <p class="table-padded">
          <%= @address.combined_street_address %> <%= @address.street_two %><br>
          <%= @address.city %>, <%= @address.state %>, <%= @address.zip_code %>
        </p>

        <table>
          <tr class="border-top">
            <td class="no-border-left no-border-right">
              <small>
                <strong>FAX (A/C No Ext):</strong> <%= @agency.contact_info["fax"] %><br>
                <strong>EMAIL ADDRESS:</strong> <%= @agency.contact_info["email"] %>
              </small>
            </td>
          </tr>
        </table>

        <table>
          <tr class="no-border-top">
            <td class="no-border-left no-border-right">
              <p>
                <small>CODE:</small><br>
                <%= @carrier_agency.external_carrier_id %>
              </p>
            </td>
            <td class="no-border-left no-border-right">
              <p>
                <small>SUBCODE:</small><br>

              </p>
            </td>
          </tr>
        </table>

        <table>
          <tr class="no-border-top">
            <td class="no-border-left no-border-right">
              <small>AGENCY CUSTOMER ID: <%= @policy.primary_user.qbe_id %></small>
            </td>
          </tr>
        </table>

        <p class="table-padded">
          <small>Insured</small><br><br>
          <%= @policy.primary_user.profile.full_name %><br>
          <%= @policy.primary_insurable.primary_address.combined_street_address %> <%= @policy.primary_insurable.title.nil? ? '' : "Apt. #{ @policy.primary_insurable.title }" %><br>
          <%= @policy.primary_insurable.primary_address.city %>, <%= @policy.primary_insurable.primary_address.state %>, <%= @policy.primary_insurable.primary_address.combined_zip_code() %>
          <% unless @policy.users.nil? || @policy.users.count == 1 %>
          <br><br>
          <strong>Additional Insured:</strong><br>
          <% @policy.users.each_with_index do |u, index| %>
            <% unless u.id == @policy.primary_user.id %>
              <%= u.profile.full_name %><%= ", " unless index == (@policy.users.count - 2) %>
            <% end %>
          <% end %>
          <% end %>
        </p>

      </td>
      <td class="no-border-top unpadded v-align-top">
        <p class="table-padded" style="margin-bottom: 22px">
          <small>COMPANY</small><br><br>
          Praetorian Insurance Company<br>
          One General Drive<br>
          Sun Prairie, WI 53596
        </p>

        <table>
          <tr class="border-top">
            <td class="no-border-left no-border-right">
              <p>
                <small>LOAN NUMBER:</small><br>

              </p>
            </td>
            <td class="no-border-left no-border-right">
              <p>
                <small>POLICY NUMBER:</small><br>
                <%= @policy.number %>
              </p>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td class="no-border-left no-border-right">
              <p>
                <small>Effective Date:</small><br>
                <%= @policy.effective_date.strftime("%m/%d/%Y") %>
              </p>
            </td>
            <td class="no-border-left no-border-right">
              <p>
                <small>Expiration Date:</small><br>
                <%= @policy.expiration_date.strftime("%m/%d/%Y") %>
              </p>
            </td>
            <td class="text-center"><strong><%= @policy.auto_renew == true ? "X" : raw("&nbsp;") %></strong></td>
            <td class="no-border-right"><small>CONTINUED UNTIL<br>TERMINATED IF CHECKED</small></td>
          </tr>
        </table>

        <table>
          <tr class="no-border-bottom">
            <td class="no-border-right no-border-left no-border-bottom">
              <small>THIS REPLACES PRIOR EVIDENCE DATED:</small>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!-- /Header -->

  <!-- Property Information -->
  <h4>PROPERTY INFORMATION</h4>
  <table>
    <tr>
      <td>
        <p><small>Location Description</small></p><br>
        <p>
          <%= @policy.primary_insurable.primary_address.combined_street_address %> <%= @policy.primary_insurable.title.nil? ? '' : "Apt. #{ @policy.primary_insurable.title }" %><br>
          <%= @policy.primary_insurable.primary_address.city %>, <%= @policy.primary_insurable.primary_address.state %><br>
          <%= @policy.primary_insurable.primary_address.combined_zip_code() %>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>THE POLICIES OF INSURANCE LISTED BELOW HAVE BEEN ISSUED TO THE INSURED NAMED ABOVE FOR THE POLICY
          PERIOD INDICATED. NOTWITHSTANDING ANY REQUIREMENT, TERM OR CONDITION OF ANY CONTRACT OR OTHER
          DOCUMENT WITH RESPECT TO WHICH THIS EVIDENCE OF PROPERTY INSURANCE MAY BE ISSUED OR MAY PERTAIN,
          THE INSURANCE AFFORDED BY THE POLICIES DESCRIBED HEREIN IS SUBJECT TO ALL THE TERMS, EXCLUSIONS
          AND CONDITIONS OF SUCH POLICIES. LIMITS SHOWN MAY HAVE BEEN REDUCED BY PAID CLAIMS.</p>
      </td>
    </tr>
  </table>
  <!-- / Property Information -->

  <!-- Coverage Information -->
  <% covs_by_des = @policy.coverages.group_by{|cov| cov.designation }.transform_values{|vs| vs.first }; other_coverages = @policy.coverages.select{|cov| !['coverage_c', 'wind_hail', 'coverage_d', 'liability', 'medical'].include?(cov.designation) } %>
  <% theft_deductible = @policy.coverages.where(:designation => "theft").take %>
  <% wind_hail = @policy.coverages.where(:designation => 'wind_hail').take %>
  <% all_peril = @policy.coverages.where(:designation => 'all_peril').take %>
  <h4>COVERAGE INFORMATION</h4>
  <table id="coverageTable">
    <tr>
      <td><p class="text-center">COVERAGE / PERIL / FORMS</p></td>
      <td><p class="text-center">AMOUNT OF INSURANCE</p></td>
      <td><p class="text-center">DEDUCTIBLE</p></td>
    </tr>
    <tr>
      <td>C - Personal Property</td>
      <td><%= ActionController::Base.helpers.number_to_currency((covs_by_des['coverage_c']&.limit&.to_f || 0) / 100) %></td>
      <td><%= ActionController::Base.helpers.number_to_currency((all_peril&.deductible&.to_f || 0) / 100) %> All Other Perils</td>
    </tr>
    <% unless wind_hail.nil? %>
    <tr>
      <td></td>
      <td></td>
      <td><%= ActionController::Base.helpers.number_to_currency((wind_hail&.deductible&.to_f || 0) / 100) %> Wind / Hail</td>
    </tr>
    <% end %>
    <% unless theft_deductible.nil? %>
    <tr>
      <td></td>
      <td></td>
      <td><%= ActionController::Base.helpers.number_to_currency((theft_deductible&.deductible&.to_f || 0) / 100) %> Theft</td>
    </tr>
    <% end %>
    <tr>
      <td>D - Loss of Use</td>
      <td><%= ActionController::Base.helpers.number_to_currency((covs_by_des['coverage_d']&.limit&.to_f || 0) / 100) %></td>
      <td></td>
    </tr>
    <tr>
      <td>E - Personal Liability (Limit)</td>
      <td><%= ActionController::Base.helpers.number_to_currency((covs_by_des['liability']&.limit&.to_f || 0) / 100) %></td>
      <td></td>
    </tr>
    <tr>
      <td>F - Medical Payments (Limit)</td>
      <td><%= ActionController::Base.helpers.number_to_currency((covs_by_des['medical']&.limit&.to_f || 0) / 100) %></td>
      <td></td>
    </tr>
    <% other_coverages.each.with_index do |cov, index| %>
      <% unless ['wind_hail', 'theft', 'all_peril'].include?(cov.designation) %>
      <tr>
        <td><%= cov.title %></td>
        <td><%= cov.limit == 0 || cov.limit.nil? ? '(included)' : cov.limit %></td>
        <td></td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <!-- / Coverage Information -->

  <!-- Remarks -->
  <h4>REMARKS <span class="font-weight-normal">(Including Special Conditions)</span></h4>
  <table>
    <tr>
      <td>
        <p>
          <small>Premium: <%= ActionController::Base.helpers.number_to_currency((@policy.premium.total_premium + @policy.premium.total_hidden_fee).to_f / 100) %></small><br>
          <small>Tax: <%= ActionController::Base.helpers.number_to_currency(@policy.premium.total_tax.to_f / 100) %></small><br><br>
          Total: <%= ActionController::Base.helpers.number_to_currency((@policy.premium.total_premium + @policy.premium.total_hidden_fee + @policy.premium.total_tax).to_f / 100) %>
        </p>
      </td>
    </tr>
  </table>
  <!-- / Remarks -->

  <!-- Cancellation -->
  <h4>CANCELLATION</h4>
  <table>
    <tr>
      <td>
        <p>SHOULD ANY OF THE ABOVE DESCRIBED POLICIES BE CANCELLED BEFORE THE EXPIRATION DATE THEREOF, NOTICE WILL BE DELIVERED IN ACCORDANCE WITH THE POLICY PROVISIONS.</p>
      </td>
    </tr>
  </table>
  <!-- / Cancellation -->

  <h4>ADDITIONAL INTEREST</h4>
  <table>
    <tr class="split-width">
      <td>
        <p>
          <% if @policy.primary_insurable.account %>
            <strong>NAME &amp; ADDRESS</strong><br><br>
            <strong><%= @policy.primary_insurable.account.title %></strong><br>
            <% if @policy.primary_insurable.account.primary_address; addr = @policy.primary_insurable.account.primary_address %>
              <%= addr.combined_street_address %> Apt. <%= addr.street_two %><br>
              <%= addr.city %>, <%= addr.state %>, <%= addr.combined_zip_code() %>
            <% end %>
          <% elsif !@policy_application.extra_settings&.[]('additional_interest').blank? %>
            <strong>NAME &amp; ADDRESS</strong><br><br>
            <% pm_info = @policy_application.extra_settings&.[]('additional_interest') %>
            <strong>><%= pm_info['entity_type'] == 'company' ? pm_info['company_name'] : [pm_info['first_name'], pm_info['middle_name'], pm_info['last_name']].select{|v| !v.blank? }.join(" ") %></strong>
            <%= pm_info['addr1'] %><%= pm_info['addr2'].blank? ? '' : ", #{pm_info['addr2']}" %><br>
            <%= pm_info['city'] %>, <%= pm_info['state'] %> <%= pm_info['zip'] %>
          <% else %>
            <strong>No Additional Interest</strong>
          <% end %>
        </p>
      </td>
      <td class="unpadded v-align-top">

        <table>
          <tr>
            <td style="width: 10%" class="no-border-left"><strong>X</strong></td>
            <td style="width: 40%">PM</td>
            <td style="width: 10%"></td>
            <td style="width: 40%" class="no-border-right"></td>
          </tr>
        </table>

        <p class="table-padded"><strong>AUTHORIZED REPRESENTATIVE</strong>
        <img class="table-padded" alt="ryan" height="35" src="https://gc-public-prod.s3.us-west-2.amazonaws.com/assets/ryan-signature.png" width="136">

      </td>
    </tr>
  </table>

  <p class="float-left">ACORD27 (2001/12)</p>
  <p class="float-left text-right">&copy; 1993-2009 ACORD CORPORATION. All rightsreserved.</p>
  <p class="text-center">The ACORD name and logo are registered marks of ACORD</p>
</div>
</body>
</html>