<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>Evidence of Insurance</title>
    <!-- SET: STYLESHEET -->
    <style>
      /*====================================== reset.css is here ========================================*/
      *{margin:0; padding:0; box-sizing:border-box; }
      table {	border-collapse:collapse; border-spacing:0;}
      fieldset,img{border:0;}
      address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
      ol,ul { list-style:none;}
      caption,th {text-align:left;}
      h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
      q:before,q:after {content:'';}
      abbr,acronym { border:0;}
      .clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
      .clearfix:after{content:"";display:block;clear:both;}
      .last	{margin:0 !important;}
      .pad_last{padding:0 !important;}
      .no_bg {background:none !important;}
      .no_bor{border:0 none !important; }
      header,nav,section,article,aside,footer,hgroup,figure {display: block; }
      /**************************************************************************************/
      a {color:#000; text-decoration:none; outline:0 none !important; }
      h1 {font-size:24px;color: #000}
      h2 {font-size:8.04px;color: #000;font-weight: 700}
      h3 {font-size:7.91px;color: #000;font-weight: 700;}
      h4 {font-size:6px;color: #000;font-weight: 700}
      h5 {font-size:5.88px;color: #000;font-weight: 700}
      h6 {font-size:14px;color: #000;font-weight: 700}
      p {font-size: 12px;color: #000}
      /*---------------------------------------------------*/
      html {}
      body {color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;}
      .flt_lt {float:left; display:inline;}
      .flt_rt {float:right; display:inline;}
      
      /*-----------LayOut Start here-----------------------*/
      .wrapper									{width: 612px; margin:0 auto;}
      .container									{width:552px; margin:0 auto;}
      
      .head_section {padding: 10px 0 0 0}
      .logo {width: 453px;float: left}
      .logo a {float: left}
      .logo h1 {font-size: 14.04px;line-height: 16.04px;font-weight: 700;text-align: center;padding: 12px 0 0 0;}
      .date_sec {width: 99px;border: 1px solid #000;float: left;text-align: center;padding: 10px 0 8px 0}
      .date_sec h4 {font-weight: 700;}
      .date_sec h3 {font-weight: 400}
      .evid_main_blk {border: 1px solid #000;margin: 0 0 10px 0}
      .para_1 p {font-size: 7.91px;line-height: 9.91px;font-weight: 700;padding: 1px 3px}
      .para_1 {border-bottom: 1px solid #000;}
      .agency_main {width: 50%}
      .agency_left {width: 93px;padding: 2px 3px 2px 3px;}
      .agency_right {width: 182px;border: 1px solid
      #000;border-top: none;border-right: none;padding: 1px 0 0 3px;}
      .agency_right h4 {font-weight: 700;}
      .agency_right h4 span {font-size: 5.11px;font-weight: 700}
      .agency_right h2 {font-weight: normal;}
      .agency_left h4 {font-weight: 700;padding: 0 0 10px 0}
      .agency_left h2 {font-weight: normal;padding: 0 0 0 5px;}
      .agency_left address {font-size: 8.04px;color: #000;padding: 0 0 0 5px}
      .fax_in h4 {font-weight: 700;}
      .fax_in h4 span {font-size: 8.01px;font-weight: normal;padding: 0 0 0 3px;}
      .fax_in {border-bottom: 1px solid #000;border-top: 1px solid #000;padding: 1px 3px;}
      .code_in .code {width: 35%;padding: 1px 0 1px 3px;}
      .code_in .sub_code {width: 65%}
      .code h4 {font-weight: 700}
      .code h2 {font-weight: normal}
      .sub_code h4 {font-weight: 700}
      .code_in {border-bottom: 1px solid #000}
      .cust_id h4 {font-weight: 700;}
      .cust_id span {font-size: 8.04px;font-weight: normal;padding: 0 0 0 3px;}
      .cust_id {padding: 1px 0 1px 3px;border-bottom: 1px solid #000;}
      .insured_in h4, .name_left h4 {font-weight: 700; padding: 0 0 10px 0}
      .insured_in address, .name_left address {color: #000;font-size: 8.04px;font-weight: normal;padding: 0 0 0 5px}
      .insured_in h2, .name_left h2 {font-weight: normal;padding: 0 0 0 5px;}
      .insured_in {padding: 0 0 15px 3px;}
      .company_main {width: 50%;border-left: 1px solid #000}
      .comp_in {padding: 0 0 0px 3px;border-bottom: 1px solid #000;}
      .comp_in h4 {font-weight: 700;padding: 0 0 6px 0;}
      .comp_in address {font-weight: normal;font-size: 8.04px;color: #000;padding: 0 0 8px 20px;}
      .comp_in h2 {padding: 0 0 8px 0;font-weight: normal;}
      .loan_left {width: 50%;padding: 1px 0 0 3px;}
      .loan_right {width: 50%;padding: 1px 0 0 0}
      .loan_right span {font-size: 8.04px;color: #000;font-weight: normal}
      .loan_in {border-bottom: 1px solid #000}
      .effect_in {padding: 0px 0 0 3px;border-bottom: 1px solid #000}
      .eff_date {width: 25%}
      .exp_date {width: 25%}
      .cross {width: 6%;border-left: 1px solid #000;border-right: 1px solid #000;padding: 6px 0 6.5px 5px}
      .conti_in {width: 44%}
      .conti_in h4 {margin: 0px 0 0 5px}
      .effect_in h4 {padding: 1px 0 0 0}
      .exp_date span {font-size: 8.04px;color: #000}
      .eff_date span {font-size: 8.04px;color: #000}
      .prior {border-bottom: 1px solid #000;padding: 1px 0 0 3px;}
      .empty {border-left: 0.5px solid #000;font-size: 10px;line-height: 12px}
      .property_main_blk {border: 1px solid #000;margin: 0 0 10px 0}
      .prop_loca address {font-size: 8.04px;color: #000;padding: 0 0 0 5px}
      .prop_loca h4 {padding: 0 0 10px 0}
      .prop_loca {padding: 1px 0 8px 3px;border-bottom: 1px solid #000;}
      .prop_cont h2 {font-weight: normal}
      .prop_cont {padding: 1px 4px 0 3px;}
      
      .coverage_main_blk {border: 1px solid #000;margin: 0 0 10px 0}
      .coverage_in {width: 60%}
      .amount_in {width: 20%}
      .deduct_in {width: 20%}
      .coverage_in h4 {text-align: center;border-right: 1px solid #000;padding: 0 0 3px 0;border-bottom: 1px solid #000}
      .amount_in h4 {text-align: center;border-right: 1px solid #000;padding: 0 0 3px 0;border-bottom: 1px solid #000;}
      .deduct_in h4 {text-align: center;padding: 0 0 3px 0;border-bottom: 1px solid #000}
      .coverage_in h2 {border-bottom: 1px solid #000;border-right: 1px solid #000; padding: 0 0 2px 10px;font-weight: normal}
      .last_br_btm {border-bottom: none !important}
      .last_br_rt {border-right: none !important}
      .amount_in h2 {border-bottom: 1px solid #000;border-right: 1px solid #000;font-weight: normal;padding: 0 5px 2px 0;text-align: right}
      .deduct_in h2 {border-bottom: 1px solid #000;border-right: 1px solid #000;font-weight: normal;padding: 0 5px 2px 0;text-align: right}
      
      .remarks_head span {}
      .premium_in {border: 1px solid #000;padding: 1px 0 5px 3px;margin: 0 0 3px 0;}
      .premium_in h2 {font-weight: normal}
      .cancel_in {border: 1px solid #000;padding: 1px 0 0 3px;margin: 0 0 3px 0}
      .add_main_blk {border: 1px solid #000;margin: 0 0 96px 0}
      .name_left {width: 50%;padding: 0 0 0 3px;}
      .sign_blk {width: 50%;border-left: 1px solid #000}
      .close h2 {font-weight: normal;padding: 2px 0 3px 4px;}
      .pm_in h3 {font-weight: normal;padding: 1px 0 0px 3px;}
      .close {border-right: 1px solid #000;width: 6%;}
      .pm_in {width: 44%}
      .emp1 {width: 6%;border-left: 1px solid #000;border-right: 1px solid #000}
      .emp2 {width: 44%}
      .last_loan {border-bottom: 1px solid #000;padding: 0 0 3px 2px;border-top: 1px solid #000 }
      .auth figure img {margin: 2px 69px}
      .auth h4 {padding: 0 0 0 3px}
      .acord_text p {display: inline-block;font-size: 8.04px;font-weight: 700;width: 50%;float: left}
      .copy_right p {display: inline-block;font-size: 8.04px;font-weight: 700;width: 50%;float: left;text-align: right}
      .footer_cont p {font-size: 8.04px;text-align: center;font-weight: 700}
      footer {padding: 0 0 36px 0}
      
      /* -------Don't Remove this---------------*/
      input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea, button, select {
          -webkit-appearance: none; /*Safari/Chrome*/
          -moz-appearance: none; /*Firefox*/
          -ms-appearance: none; /*IE*/
          -o-appearance: none; /*Opera*/
          appearance: none;
          -webkit-border-radius: 0; 
      }      
    </style>
  </head>
  <body>
    <!-- wrapper starts -->
    <div class="wrapper">
      <div class="container">
        <div class="head_section">
          <div class="logo">
            <a href="#">
            <figure>
              <img alt="logo" height="31" src="https://gc-public-prod.s3.us-west-2.amazonaws.com/assets/logo.png" width="71">
            </figure></a>
            <h1>EVIDENCE OF PERSONAL PROPERTY INSURANCE</h1>
          </div>
          <div class="date_sec last_br_btm">
            <h4>DATE(DD/MM/YYYY)</h4>
            <h3><%= Time.current.strftime("%m/%d/%Y") %></h3>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="evid_main_blk">
          <div class="para_1">
            <p>THIS EVIDENCE OF PROPERTY INSURANCE IS ISSUED AS A MATTER OF INFORMATION ONLY AND CONFERS NO RIGHTS UPON THE ADDITIONAL INTEREST NAMED BELOW. THIS EVIDENCE DOES NOT AFFIRMATIVELY OR NEGATIVELY AMEND, EXTEND OR ALTER THE COVERAGE AFFORDED BY THE POLICIES BELOW. THIS EVIDENCE OF INSURANCE DOES NOT CONSTITUTE A CONTRACT BETWEEN THE ISSUING INSURER(S), AUTHORIZED REPRESENTATIVE OR PRODUCER, AND THE ADDITIONAL INTEREST.</p>
          </div>
          <div class="agency_main flt_lt">
            <div class="agency_left flt_lt">
              <h4>AGENCY</h4>
              <h2><%= @agency.contact_info["legal_name"] %></h2>
              <address>
                <%= @address.combined_street_address %> <%= @address.street_two %><br>
                <%= @address.city %>, <%= @address.state %>, <%= @address.zip_code %>
              </address>
            </div>
            <div class="agency_right flt_lt">
              <h4>PHONE(<span>A/C, No, Ext</span>):</h4>
              <h2><%= @agency.contact_info["phone"] %></h2>
            </div>
            <div class="clearfix"></div>
            <div class="fax_in">
              <h4>FAX (A/C No Ext):<span><%= @agency.contact_info["fax"] %></span></h4>
              <h4>EMAIL ADDRESS:<span><%= @agency.contact_info["email"] %></span></h4>
            </div>
            <div class="code_in clearfix">
              <div class="code flt_lt">
                <h4>CODE:</h4>
                <h2><%= @carrier_agency.external_carrier_id %></h2>
              </div>
              <div class="sub_code flt_lt">
                <h4>SUBCODE:</h4>
              </div>
            </div>
            <div class="cust_id">
              <h4>AGENCY CUSTOMER ID #:<span><%= @policy.primary_user.qbe_id %></span></h4>
            </div>
            <div class="insured_in">
              <h4>INSURED</h4>
              <h2><%= @policy.primary_user.profile.full_name %></h2>
              <address>
                <%= @policy.primary_insurable.primary_address.combined_street_address %> Apt. <br>
                <%= @policy.primary_insurable.primary_address.city %>, <%= @policy.primary_insurable.primary_address.state %>, <%= @policy.primary_insurable.primary_address.combined_zip_code() %>
              </address>
              <% unless @policy.users.nil? || @policy.users.count == 1 %>
              <h2>
                Additional Insured: 
                <% @policy.users.each_with_index do |u, index| %>
                  <% unless u.id == @policy.primary_user.id %>
                     <%= u.profile.full_name %><%= ", " unless index == (@policy.users.count - 2) %>
                  <% end %>
                <% end %>
              </h2>
              <% end %>
            </div>
          </div>
          <div class="company_main flt_lt">
            <div class="comp_in">
              <h4>COMPANY</h4>
              <address>
                Praetorian Insurance Company<br>
                One General Drive<br>
                Sun Prairie, WI 53596
              </address>
            </div>
            <div class="loan_in clearfix">
              <div class="loan_left flt_lt">
                <h4>LOAN NUMBER</h4>
              </div>
              <div class="loan_right flt_lt">
                <h4>POLICY NUMBER</h4><span><%= @policy.number %></span>
              </div>
            </div>
            <div class="effect_in clearfix">
              <div class="eff_date flt_lt">
                <h4>EFFECTIVE DATE</h4><span><%= @policy.effective_date.strftime("%m/%d/%Y") %></span>
              </div>
              <div class="exp_date flt_lt">
                <h4>EXPIRATION DATE</h4><span><%= @policy.expiration_date.strftime("%m/%d/%Y") %></span>
              </div>
              <div class="cross flt_lt">
                <h2><%= @policy.auto_renew == true ? "X" : raw("&nbsp;") %></h2>
              </div>
              <div class="conti_in flt_lt">
                <h4>CONTINUED UNTIL<br>
                TERMINATED IF CHECKED</h4>
              </div>
            </div>
            <div class="prior">
              <h4>THIS REPLACES PRIOR EVIDENCE DATED:</h4>
            </div>
            <div class="empty">
              &nbsp;
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="prop_head">
          <h2>PROPERTY INFORMATION</h2>
        </div>
        <div class="property_main_blk">
          <div class="prop_loca">
            <h4>LOCATION/DESCRIPTION</h4>
            <address>
              <%= @policy.primary_insurable.primary_address.combined_street_address %> Apt. <br>
              <%= @policy.primary_insurable.primary_address.city %>, <%= @policy.primary_insurable.primary_address.state %>, <%= @policy.primary_insurable.primary_address.combined_zip_code() %>
            </address>
          </div>
          <div class="prop_cont">
            <h2>THE POLICIES OF INSURANCE LISTED BELOW HAVE BEEN ISSUED TO THE INSURED NAMED ABOVE FOR THE POLICY PERIOD INDICATED. NOTWITHSTANDING ANY REQUIREMENT, TERM OR CONDITION OF ANY CONTRACT OR OTHER DOCUMENT WITH RESPECT TO WHICH THIS EVIDENCE OF PROPERTY INSURANCE MAY BE ISSUED OR MAY PERTAIN, THE INSURANCE AFFORDED BY THE POLICIES DESCRIBED HEREIN IS SUBJECT TO ALL THE TERMS, EXCLUSIONS AND CONDITIONS OF SUCH POLICIES. LIMITS SHOWN MAY HAVE BEEN REDUCED BY PAID CLAIMS.</h2>
          </div>
        </div>
        <div class="coverage_head">
          <h2>COVERAGEINFORMATION</h2>
        </div>
        <div class="coverage_main_blk clearfix">
          <div class="coverage_in flt_lt"><% covs_by_des = @policy.coverages.group_by{|cov| cov.designation }.transform_values{|vs| vs.first }; other_coverages = @policy.coverages.select{|cov| !['coverage_c', 'wind_hail', 'coverage_d', 'liability', 'medical'].include?(cov.designation) } %>
            <h4>COVERAGE/PERIL/FORMS</h4>
            <h2>&nbsp;</h2>
            <h2>C - Personal Property</h2>
            <h2>Wind/Hail Deductible</h2>
            <h2>D - Loss of Use</h2>
            <h2>E - Personal Liability (Limit)</h2>
            <h2 <% if other_coverages.blank? %>class="last_br_btm"<% end %>>F - Medical Payments (Limit)</h2>
            <% other_coverages.each.with_index do |cov, index| %>
            <h2 <% if index == other_coverages.length - 1 %>class="last_br_btm"<% end %>><%= cov.title %></h2>
            <% end %>
          </div>
          <div class="amount_in flt_lt">
            <h4>AMOUNT OF INSURANCE</h4>
            <h2>&nbsp;</h2>
            <h2><%= ActionController::Base.helpers.number_to_currency((covs_by_des['coverage_c']&.limit&.to_f || 0) / 100) %></h2>
            <h2>&nbsp;</h2>
            <h2><%= ActionController::Base.helpers.number_to_currency((covs_by_des['coverage_d']&.limit&.to_f || 0) / 100) %></h2>
            <h2><%= ActionController::Base.helpers.number_to_currency((covs_by_des['liability']&.limit&.to_f || 0) / 100) %></h2>
            <h2 <% if other_coverages.blank? %>class="last_br_btm"<% end %>><%= ActionController::Base.helpers.number_to_currency((covs_by_des['medical']&.limit&.to_f || 0) / 100) %></h2>
            <% other_coverages.each.with_index do |cov, index| %>
            <h2 <% if index == other_coverages.length - 1 %>class="last_br_btm"<% end %>><%= cov.limit ? ActionController::Base.helpers.number_to_currency(cov.limit.to_f / 100) : cov.deductible ? raw("&nbsp;") : "Included" %></h2>
            <% end %>           
          </div>
          <div class="deduct_in flt_lt">
            <h4>DEDUCTIBLE</h4>
            <h2 class="last_br_rt">&nbsp;</h2>
            <h2 class="last_br_rt"><%= ActionController::Base.helpers.number_to_currency(@policy.coverages.find_by(designation: "coverage_c").deductible.to_f / 100) %></h2>
            <h2 class="last_br_rt"><%= ActionController::Base.helpers.number_to_currency((covs_by_des['wind_hail']&.deductible&.to_f || 0) / 100) %></h2>
            <h2 class="last_br_rt">&nbsp;</h2>
            <h2 class="last_br_rt">&nbsp;</h2>
            <h2 class="<% if @other_coverages.blank? %>last_br_btm <% end %>last_br_rt">&nbsp;</h2>
            <% other_coverages.each.with_index do |cov, index| %>
            <h2 <% if index == other_coverages.length - 1 %>class="last_br_btm"<% end %>><%= cov.deductible ? ActionController::Base.helpers.number_to_currency(cov.deductible.to_f / 100) : raw("&nbsp;") %></h2>
            <% end %> 
          </div>
        </div>
        <div class="remarks_head">
          <h2>REMARKS(Including SpecialConditions)</h2>
        </div>
        <div class="premium_in">
          <table cellpadding="5" cellspacing="0" style="border: none;">
            <tr>
              <td><h4>Premium:</h4></td>
              <td><h4><%= ActionController::Base.helpers.number_to_currency((@policy.premium.total_premium + @policy.premium.total_tax + @policy.premium.total_hidden_fee).to_f / 100) %></h4></td>
            </tr>
            <tr>
              <td><h4>Admin Fees:</h4></td>
              <td><h4><%= ActionController::Base.helpers.number_to_currency((@policy.premium.total_fee - @policy.premium.total_hidden_fee).to_f / 100) %></h4></td>
            </tr>
            <tr>
              <td><h2>Total:</h2></td>
              <td><h2><%= ActionController::Base.helpers.number_to_currency(@policy.premium.total.to_f / 100) %></h2></td>
            </tr>
          </table>
        </div>
        <div class="cancel_head">
          <h2>CANCELLATION</h2>
        </div>
        <div class="cancel_in">
          <h2>SHOULD ANY OF THE ABOVE DESCRIBED POLICIES BE CANCELLED BEFORE THE EXPIRATION DATE THEREOF, NOTICE WILL BE DELIVERED IN ACCORDANCE WITH THE POLICY PROVISIONS.</h2>
        </div>
      <% if @policy.primary_insurable.account %>
        <div class="cancel_head">
          <h2>ADDITIONAL INTEREST</h2>
        </div>
        <div class="add_main_blk clearfix">
          <div class="name_left flt_lt">
            <h4>NAME AND ADDRESS</h4>
            <h2><%= @policy.primary_insurable.account.title %></h2>
            <address><% if @policy.primary_insurable.account.primary_address; addr = @policy.primary_insurable.account.primary_address %>
              <%= addr.combined_street_address %> Apt. <%= addr.street_two %><br>
              <%= addr.city %>, <%= addr.state %>, <%= addr.combined_zip_code() %>
            <% end %></address>
          </div>
          <div class="sign_blk flt_lt clearfix">
            <div class="close flt_lt">
              <h2>X</h2>
            </div>
            <div class="pm_in flt_lt">
              <h3>PM</h3>
            </div>
            <div class="emp1 flt_lt">
              &nbsp;
            </div>
            <div class="emp2 flt_lt">
              &nbsp;
            </div>
            <div class="clearfix"></div>
            <div class="last_loan">
              <h4>LOAN #</h4>
            </div>
            <div class="auth">
              <h4>AUTHORIZED REPRESENTATIVE</h4>
              <figure>
                <img alt="ryan" height="35" src="https://gc-public-prod.s3.us-west-2.amazonaws.com/assets/ryan-signature.png" width="136">
              </figure>
            </div>
          </div>
        </div>
      <% elsif !@policy_application.extra_settings&.[]('additional_interest').blank? %>
      <% pm_info = @policy_application.extra_settings&.[]('additional_interest') %>
        <div class="cancel_head">
          <h2>ADDITIONAL INTEREST</h2>
        </div>
        <div class="add_main_blk clearfix">
          <div class="name_left flt_lt">
            <h4>NAME AND ADDRESS</h4>
            <h2><%= pm_info['entity_type'] == 'company' ? pm_info['company_name'] : [pm_info['first_name'], pm_info['middle_name'], pm_info['last_name']].select{|v| !v.blank? }.join(" ") %></h2>
            <address>
              <%= pm_info['addr1'] %><%= pm_info['addr2'].blank? ? '' : ", #{pm_info['addr2']}" %><br>
              <%= pm_info['city'] %>, <%= pm_info['state'] %> <%= pm_info['zip'] %>
            </address>
          </div>
          <div class="sign_blk flt_lt clearfix">
            <div class="close flt_lt">
              <h2>X</h2>
            </div>
            <div class="pm_in flt_lt">
              <h3>PM</h3>
            </div>
            <div class="emp1 flt_lt">
              &nbsp;
            </div>
            <div class="emp2 flt_lt">
              &nbsp;
            </div>
            <div class="clearfix"></div>
            <div class="last_loan">
              <h4>LOAN #</h4>
            </div>
            <div class="auth">
              <h4>AUTHORIZED REPRESENTATIVE</h4>
              <figure>
                <img alt="ryan" height="35" src="https://gc-public-prod.s3.us-west-2.amazonaws.com/assets/ryan-signature.png" width="136">
              </figure>
            </div>
          </div>
        </div>
      <% end %>
        <footer>
          <div class="acord_text">
            <p>ACORD27 (2001/12)</p>
          </div>
          <div class="copy_right">
            <p>© 1993-2009 ACORD CORPORATION. All rightsreserved.</p>
          </div>
          <div class="footer_cont">
            <p>The ACORD name and logo are registered marks of ACORD</p>
          </div>
        </footer>
      </div>
    </div><!-- wrapper ends -->
  </body>
</html>
