<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=595">
      <!-- template CSS -->
      <style>
          @charset "UTF-8";
  
          a,
          abbr,
          acronym,
          address,
          applet,
          article,
          aside,
          audio,
          b,
          big,
          blockquote,
          body,
          canvas,
          caption,
          center,
          cite,
          code,
          dd,
          del,
          details,
          dfn,
          div,
          dl,
          dt,
          em,
          embed,
          fieldset,
          figcaption,
          figure,
          footer,
          form,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          header,
          hgroup,
          html,
          i,
          iframe,
          img,
          ins,
          kbd,
          label,
          legend,
          li,
          mark,
          menu,
          nav,
          object,
          ol,
          output,
          p,
          pre,
          q,
          ruby,
          s,
          samp,
          section,
          small,
          span,
          strike,
          strong,
          sub,
          summary,
          sup,
          table,
          tbody,
          td,
          tfoot,
          th,
          thead,
          time,
          tr,
          tt,
          u,
          ul,
          var,
          video {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 100%;
              font: inherit;
              vertical-align: baseline
          }
  
          :focus {
              outline: 0
          }
  
          article,
          aside,
          details,
          figcaption,
          figure,
          footer,
          header,
          hgroup,
          menu,
          nav,
          section {
              display: block
          }
  
          body {
              line-height: 1
          }
  
          ol,
          ul {
              list-style: none
          }
  
          blockquote,
          q {
              quotes: none
          }
  
          blockquote:after,
          blockquote:before,
          q:after,
          q:before {
              content: '';
              content: none
          }
  
          table {
              font-size: 0.5rem !important;
              border-collapse: collapse;
              border-spacing: 0
          }
  
          input[type=search]::-webkit-search-cancel-button,
          input[type=search]::-webkit-search-decoration,
          input[type=search]::-webkit-search-results-button,
          input[type=search]::-webkit-search-results-decoration {
              -webkit-appearance: none;
              -moz-appearance: none
          }
  
          input[type=search] {
              -webkit-appearance: none;
              -moz-appearance: none;
              -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box
          }
  
          textarea {
              overflow: auto;
              vertical-align: top;
              resize: vertical
          }
  
          audio,
          canvas,
          video {
              display: inline-block;
              max-width: 100%
          }
  
          audio:not([controls]) {
              display: none;
              height: 0
          }
  
          [hidden] {
              display: none
          }
  
          html {
              font-size: 100%;
              -webkit-text-size-adjust: 100%;
              -ms-text-size-adjust: 100%
          }
  
          a:focus {
              outline: thin dotted
          }
  
          a:active,
          a:hover {
              outline: 0
          }
  
          img {
              border: 0;
              -ms-interpolation-mode: bicubic
          }
  
          figure {
              margin: 0
          }
  
          form {
              margin: 0
          }
  
          fieldset {
              border: 1px solid silver;
              margin: 0 2px;
              padding: .35em .625em .75em
          }
  
          legend {
              border: 0;
              padding: 0;
              white-space: normal
          }
  
          button,
          input,
          select,
          textarea {
              font-size: 100%;
              margin: 0;
              vertical-align: baseline
          }
  
          button,
          input {
              line-height: normal
          }
  
          button,
          select {
              text-transform: none
          }
  
          button,
          html input[type=button],
          input[type=reset],
          input[type=submit] {
              -webkit-appearance: button;
              cursor: pointer
          }
  
          button[disabled],
          html input[disabled] {
              cursor: default
          }
  
          input[type=checkbox],
          input[type=radio] {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              padding: 0
          }
  
          input[type=search] {
              -webkit-appearance: textfield;
              -moz-box-sizing: content-box;
              -webkit-box-sizing: content-box;
              box-sizing: content-box
          }
  
          input[type=search]::-webkit-search-cancel-button,
          input[type=search]::-webkit-search-decoration {
              -webkit-appearance: none
          }
  
          button::-moz-focus-inner,
          input::-moz-focus-inner {
              border: 0;
              padding: 0
          }
  
          textarea {
              overflow: auto;
              vertical-align: top
          }
  
          table {
              border-collapse: collapse;
              border-spacing: 0
          }
  
          button,
          html,
          input,
          select,
          textarea {
              color: #222
          }
  
          ::-moz-selection {
              background: #b3d4fc;
              text-shadow: none
          }
  
          ::selection {
              background: #b3d4fc;
              text-shadow: none
          }
  
          img {
              vertical-align: middle
          }
  
          fieldset {
              border: 0;
              margin: 0;
              padding: 0
          }
  
          textarea {
              resize: vertical
          }
  
          .chromeframe {
              margin: .2em 0;
              background: #ccc;
              color: #000;
              padding: .2em 0
          }
  
          :root {
              font-size: 36px
          }
  
          html {
              scroll-behavior: smooth;
              font-family: sans-serif;
              line-height: 1.15;
              -webkit-text-size-adjust: 100%;
              -webkit-tap-highlight-color: transparent
          }
  
          *,
          ::after,
          ::before {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box
          }
  
          body {
              background-color: #fff;
              line-height: 1.5;
              font-weight: 400;
              color: #3c3d3e;
              font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
              font-size: 36px
          }
  
          h1 {
              font-size: 30px;
              color: #009983;
              margin: 0;
              padding: 0;
              margin-bottom: 48px;
              font-weight: 400
          }
  
          h2 {
              font-size: 26px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h3 {
              font-size: 20px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h4 {
              font-size: 14px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h5 {
              font-size: 12px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          p {
              font-size: 14px;
              margin: 0;
              margin-bottom: 15px;
              color: #3c3d3e
          }
  
          p strong {
              font-weight: 700
          }
  
          .main-content {
              font-size: 0.5rem !important;
              max-width: 500px;
              width: 100%;
              margin: 0 0 0 0;
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              padding: 10px 0
          }
  
          a {
              color: #009983;
              text-decoration: none
          }
  
          a:hover,
          afocus {
              text-decoration: none;
              color: #333
          }
  
          .left-panel {
              -webkit-box-flex: 0;
              -webkit-flex: 0 0 75px;
              -moz-box-flex: 0;
              -ms-flex: 0 0 75px;
              flex: 0 0 75px;
              max-width: 75px
          }
  
          .left-panel figure {
              margin: 0;
              padding: 0;
              text-align: center;
              position: relative
          }
  
          .left-panel figure img {
              width: 70px;
              height: auto;
              margin-right: 40px;
          }
  
          .right-panel {
              -webkit-box-flex: 0;
              -webkit-flex: 0 0 calc(100% - 100px);
              -moz-box-flex: 0;
              -ms-flex: 0 0 calc(100% - 100px);
              flex: 0 0 calc(100% - 100px);
              max-width: calc(100% - 100px);
              border-left: solid 1px #009983;
              padding: 0 10px 0px 10px;
              margin-left: 10px;
          }
  
          .number-counter {
              padding-left: 75px;
              position: relative
          }
  
          .number-counter span {
              position: absolute;
              left: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%)
          }
  
          .mar-bot-25 {
              margin-bottom: 25px
          }
  
          .root-list {
              margin: 0;
              padding: 0;
              margin-left: 14px;
              list-style-type: none;
              position: relative;
              padding-left: 34px
          }
  
          .root-list span {
              position: absolute;
              left: 0;
              top: 0
          }
  
          ul.parent-list {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: my-sec-counter;
              margin-left: 54px
          }
  
          ul.parent-list>li {
              counter-increment: my-sec-counter;
              position: relative;
              padding-left: 38px
          }
  
          ul.parent-list>li:before {
              content: "("counter(my-sec-counter) ")";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ol.inner-list-top {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter
          }
  
          ol.inner-list-top>li {
              counter-increment: abc-counter;
              position: relative;
              padding-left: 38px
          }
  
          ol.inner-list-top>li:before {
              content: "("counter(abc-counter, lower-alpha) ")";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ul.inner-list-top2 {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter2;
              margin-left: 20px
          }
  
          ul.inner-list-top2>li {
              counter-increment: abc-counter2;
              position: relative;
              padding-left: 20px
          }
  
          ul.inner-list-top2>li:before {
              content: counter(abc-counter2, lower-alpha) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .bottom-end {
              padding-top: 60px;
              padding-bottom: 60px
          }
  
          .footer-end-box {
              max-width: 240px;
              border-top: solid 1px #000;
              padding-top: 5px
          }
  
          .footer-end-box p {
              margin-bottom: 3px
          }
  
          img {
              border: 0;
              outline: 0
          }
  
          .table-data {
              padding: 40px 0
          }
  
          .table-data table {
              width: 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              background-color: transparent;
              border-collapse: collapse;
              border: solid 1px #009983
          }
  
          .table-data table thead {
              background-color: #009983
          }
  
          .table-data table tr td,
          .table-data table tr th {
              padding: .75rem;
              min-height: 46px;
              vertical-align: top;
              text-align: center;
              color: #fff;
              vertical-align: middle;
              border-top: 1px solid #009983
          }
  
          .table-data table tr td {
              color: #333;
              border-right: solid 1px #009983
          }
  
          .table-data table tr td:last-child {
              border-right: transparent
          }
  
          .table-data table tr th {
              background-color: #009983;
              border-left: solid 1px transparent
          }
  
          .table-data table tr th+th {
              border-left: solid 1px #fff
          }
  
          .table-data2 {
              padding: 20px 0
          }
  
          .table-data2 table {
              width: 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              background-color: transparent;
              border-collapse: collapse;
              border: solid 1px #000
          }
  
          .table-data2 table thead {
              background-color: #009983
          }
  
          .table-data2 table tr td,
          .table-data2 table tr th {
              padding: .75rem;
              min-height: 46px;
              vertical-align: top;
              text-align: center;
              color: #fff;
              vertical-align: top;
              border-top: 1px solid #009983
          }
  
          .table-data2 table tr td {
              color: #333;
              border-right: solid 1px #000;
              text-align: left
          }
  
          .table-data2 table tr td:last-child {
              border-right: transparent
          }
  
          .table-data2 table tr th {
              background-color: #009983;
              border-left: solid 1px #000;
              vertical-align: middle
          }
  
          .table-data2 table tr th+th {
              border-left: solid 1px #000
          }
  
          .table-data2 .bder-bot {
              border-bottom: solid 1px #000;
              border-top: solid 1px #000
          }
  
          .table-data2 sup {
              font-size: 11px;
              position: relative;
              top: -8px
          }
  
          p sup {
              font-size: 11px;
              position: relative;
              top: -8px
          }
  
          .text-justify p {
              text-align: justify
          }
  
          ul.list-arrow {
              margin: 10px 0;
              padding: 0;
              list-style-type: none;
              margin-left: 20px;
              padding-bottom: 8px
          }
  
          ul.list-arrow li {
              position: relative;
              padding-left: 20px
          }
  
          ul.list-arrow li p {
              margin-bottom: 5px
          }
  
          ul.list-arrow li:before {
              content: "›";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .address-box {
              margin-bottom: 15px;
              padding: 5px 0
          }
  
          .address-box .address-inner {
              padding-left: 14px;
              border-left: solid 2px #e8e8e8
          }
  
          ul.parent-list-2 {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: alphacounter;
              margin-left: 54px
          }
  
          ul.parent-list-2>li {
              counter-increment: alphacounter;
              position: relative;
              padding-left: 38px
          }
  
          ul.parent-list-2>li:before {
              content: counter(alphacounter, lower-alpha) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ol.romancount {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter
          }
  
          ol.romancount>li {
              counter-increment: abc-counter;
              position: relative;
              padding-left: 38px
          }
  
          ol.romancount>li:before {
              content: counter(abc-counter, lower-roman) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .bold-it {
              font-weight: 700;
              font-style: italic;
              text-decoration: underline
          }
          
          table tr th,
          table tr td {
            font-size: 0.5rem;
          }
  
          @media print {
  
              h1,
              h2,
              h3,
              h4,
              h5 {
                  page-break-after: avoid
              }
  
              figure,
              table {
                  page-break-inside: avoid
              }
  
              .normal-brand {
                  -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
                  border: 0;
                  outline: 0
              }
  
              .table-data,
              .table-data2 {
                  padding: 20px 0
              }
  
              .table-data table,
              .table-data2 table {
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 1rem;
                  background-color: transparent;
                  border-collapse: collapse;
                  border: solid 1px #000
              }
  
              .table-data table thead,
              .table-data2 table thead {
                  background-color: transparent
              }
  
              .table-data table tr td,
              .table-data table tr th,
              .table-data2 table tr td,
              .table-data2 table tr th {
                  padding: .75rem;
                  min-height: 46px;
                  vertical-align: top;
                  text-align: center;
                  color: #333;
                  vertical-align: middle;
                  border-top: 1px solid #000
              }
  
              .table-data table tr td,
              .table-data2 table tr td {
                  color: #333;
                  border-right: solid 1px #000
              }
  
              .table-data table tr td:last-child,
              .table-data2 table tr td:last-child {
                  border-right: transparent
              }
  
              .table-data table tr th,
              .table-data2 table tr th {
                  background-color: transparent;
                  border-left: solid 1px #000
              }
  
              .table-data table tr th+th,
              .table-data2 table tr th+th {
                  border-left: solid 1px #000
              }
          }
      </style>
      <title>Pensio Tenants Rent Guarantee Summary Exhibit B – Pensio Tenants Rent Guarantee Agreement</title>
  </head>

  <body>
  
    <div class="main-content">
      <div class="left-panel">
        <figure>
          <img src="<%= Rails.root.join("public", "assets", "pensio-brand.png").to_s %>" alt="" class="normal-brand"> 
        </figure>
      </div>
 
 
  <div class="right-panel">
    <h1>Pensio Tenants Rent Guarantee Agreement</h1>
        
        <div class="fill-text">
          <p>This Pensio Tenants Rent Guarantee Agreement (the “<strong>Agreement</strong>”) is made as of the</p>
          <p><strong><%= @policy.effective_date.strftime("%e") %></strong> day of <strong><%= @policy.effective_date.strftime("%B") %></strong>, <strong><%= @policy.effective_date.strftime("%Y") %></strong> (the "<strong>Effective Date"</strong>)</p>
          <p>Between:</p>
          <p>Pensio Tenants Corp., a Nevada company (“<strong>Pensio</strong>”) administered by World Insurance Associates LLC.</p>
          <p>-and-</p>
          <p><u><%= @policy.primary_user.profile.full_name %></u> (“<strong>You</strong>” or “<strong>Your</strong>”)</p>
        </div>
            
    <p>who resides as a legal tenant in the legal residential rental Unit described in Exhibit A and have a valid and existing lease agreement with a landlord, has applied for a <%= @policy.policy_application.fields["guarantee_option"] %> Months Rent Guarantee Option described in the Rent Guarantee Summary (the “<strong>Rent Guarantee Summary</strong>”), attached to this Agreement as Exhibit B.</p>
  <h2>Definitions</h2>
  <p>In this Rent Guarantee Agreement, the following terms will have the following meanings:</p>
  <p>“<strong>Administrator</strong>” means World Insurance Associates LLC,<a href="https://www.worldins.net/pensiotenants" style="color: #3c3d3e"> www.worldins.net</a>, which provides administrative and claims services in connection with the Pensio Tenants Rent Guarantee described fully in the Rent Guarantee Summary.</p>
	  <p>“<strong>Agreement</strong>” means this Rent Guarantee Agreement together with the Rent Guarantee Summary and includes wherever the context permits each and any renewal thereof.</p>
	  <p>“<strong>Claim</strong>” means a claim for payment of information by You to the Administrator under the Rent Guarantee Agreement and Rent Guarantee Summary in respect of your current valid lease agreement with your landlord, which includes but is not limited to all reasonably obtainable information respecting the time and circumstances of the claim (along with a copy of your valid lease agreement and any applicable documentation concerning satisfaction of any of Your Rent Guarantee covenants requirements in accordance with this Agreement together with the Rent Guarantee Summary. Claims in respect of the Rent Guarantee must be submitted to the Administrator only.</p>
 <p> “<strong>Default</strong>” means in respect of Your failure to pay the optional monthly or annual Rent Guarantee Fee.</p>
	  <p>“<strong>Lease</strong>” means a valid and binding tenancy agreement for a residential rental Unit which is legal compliant in form, content, and any applicable disclosures as required by the applicable law in the jurisdiction where the Unit is located.</p>
	  <p>&nbsp;“<strong>Registration</strong>” means providing your personal information, confirming Your covenants in Section 1 of this Agreement, property Information should include: complete physical, mailing, and billing addresses; complete contact and billing information. Addresses must include street address, city, state, zip code of your rental unit, apartment number if applicable, and county as required. Contact information must include first and last names, date of birth, valid email, telephone numbers, and employers name, address, email and telephone number and if applicable name of your family doctor, address, email and telephone number.&nbsp; </p>
	  <p>“<strong>Rent</strong>” means the rent payable to Your Landlord by You subject to Your legal and valid Lease agreement with your Landlord.</p>
	  <p>“<strong>Rent Guarantee</strong>” means this Agreement together with your Rent Guarantee Summary (subject to all limitations, terms and conditions contained therein), covering Pensio paying Your and Your legal co-tenant’s rent subject to your Rent Guarantee Summary and your valid and legal lease agreement with your landlord for up to <%= @policy.policy_application.fields["guarantee_option"] %> months to your Landlord.</p>
	  <p>“<strong>Tenant</strong>” means You any other person authorized by the Lease and applicable law to occupy the Unit. (the “<strong>Legal Co-Tenant</strong>”).</p>
	  <p>“<strong>Term</strong>” means the twelve (12) month period of this Rent Guarantee Agreement together with the Rent Guarantee Summary and your valid land legal lease agreement with your Landlord commencing on the Effective Date and, if applicable, consecutive one (1) year renewals by You, subject to the sole approval of Pensio.</p>
	  <p>“<strong>Unit</strong>” means a residential rental Unit registered by You under this Agreement, and listed in Exhibit ‘A’, and for the purposes of this Agreement, a Unit is registered where Your registration for this Rent Guarantee Agreement or renewal thereof relating to such Unit has been accepted by Pensio.&nbsp; </p>
	  <p>“<strong>You</strong>” or “<strong>Your</strong>” refers to You the Tenant specified in the caption above.<br><br>


  </div>     

      <div class="right-panel">
        <h1>Pensio Tenants Rent Guarantee Agreement</h1>
        <div class="fill-text">
          <p>This Pensio Tenants Rent Guarantee Agreement (the “<strong>Agreement</strong>”) is made as of the</p>
          <p><strong><%= @policy.effective_date.strftime("%e") %></strong> day of <strong><%= @policy.effective_date.strftime("%B") %></strong>, <strong><%= @policy.effective_date.strftime("%Y") %></strong> (the "<strong>Effective Date"</strong>)</p>
          <p>Between:</p>
          <p>Pensio Tenants Corp., a Nevada company (“<strong>Pensio</strong>”) administered by World Insurance Associates LLC.</p>
          <p>-and-</p>
          <p><u><%= @policy.primary_user.profile.full_name %></u> (“<strong>You</strong>” or “<strong>Your</strong>”)<br>
          <br></p>
        </div>
        <p>who resides as a legal tenant in the legal residential rental Unit described in Exhibit A and have a valid and existing lease agreement with a landlord, has applied for a <%= @policy.policy_application.fields["guarantee_option"] %> Months Rent Guarantee Option described in the Rent Guarantee Summary (the “<strong>Rent Guarantee Summary</strong>”), attached to this Agreement as Exhibit B.</p>
        <h2>Definitions</h2>
        <p>In this Rent Guarantee Agreement, the following terms will have the following meanings:</p>
        <p>“<strong>Administrator</strong>” means World Insurance Associates LLC, <a href="https://www.worldins.net/" style="color: #3c3d3e">www.worldins.net</a>, which provides administrative and claims services in connection with the Pensio Tenants Rent Guarantee described fully in the Rent Guarantee Summary.</p>
        <p>“<strong>Agreement</strong>” means this Rent Guarantee Agreement together with the Rent Guarantee Summary and includes wherever the context permits each and any renewal thereof.</p>
        <p>“<strong>Claim</strong>” means a claim for payment of information by You to the Administrator under the Rent Guarantee Agreement and Rent Guarantee Summary in respect of your current valid lease agreement with your landlord, which includes but is not limited to all reasonably obtainable information respecting the time and circumstances of the claim (along with a copy of your valid lease agreement and any applicable documentation concerning satisfaction of any of Your Rent Guarantee covenants requirements in accordance with this Agreement together with the Rent Guarantee Summary. Claims in respect of the Rent Guarantee must be submitted to the Administrator only.</p>
        <p>“<strong>Default</strong>” means in respect of Your failure to pay the optional monthly or annual Rent Guarantee Fee.</p>
        <p>“<strong>Lease</strong>” means a valid and binding tenancy agreement for a residential rental Unit which is legal compliant in form, content, and any applicable disclosures as required by the applicable law in the jurisdiction where the Unit is located.</p>
        <p>&nbsp;“<strong>Registration</strong>” means providing your personal information, confirming Your covenants in Section 1 of this Agreement, property Information should include: complete physical, mailing, and billing addresses; complete contact and billing information. Addresses must include street address, city, state, zip code of your rental unit, apartment number if applicable, and county as required. Contact information must include first and last names, date of birth, valid email, telephone numbers, and employers name, address, email and telephone number and if applicable name of your family doctor, address, email and telephone number.&nbsp;</p>
        <p>“<strong>Rent</strong>” means the rent payable to Your Landlord by You subject to Your legal and valid Lease agreement with your Landlord.</p>
        <p>“<strong>Rent Guarantee</strong>” means this Agreement together with your Rent Guarantee Summary (subject to all limitations, terms and conditions contained therein), covering Pensio paying Your and Your legal co-tenant’s rent subject to your Rent Guarantee Summary and your valid and legal lease agreement with your landlord for up to <%= @policy.policy_application.fields["guarantee_option"] %> months to your Landlord.</p>
        <p>“<strong>Tenant</strong>” means You any other person authorized by the Lease and applicable law to occupy the Unit. (the “<strong>Legal Co-Tenant</strong>”).</p>
        <p>“<strong>Term</strong>” means the twelve (12) month period of this Rent Guarantee Agreement together with the Rent Guarantee Summary and your valid land legal lease agreement with your Landlord commencing on the Effective Date and, if applicable, consecutive one (1) year renewals by You, subject to the sole approval of Pensio.</p>
        <p>“<strong>Unit</strong>” means a residential rental Unit registered by You under this Agreement, and listed in Exhibit ‘A’, and for the purposes of this Agreement, a Unit is registered where Your registration for this Rent Guarantee Agreement or renewal thereof relating to such Unit has been accepted by Pensio.&nbsp;</p>
        <p>“<strong>You</strong>” or “<strong>Your</strong>” refers to You the Tenant specified in the caption above.<br>
        <br></p>
        <h2 class="number-counter mar-bot-25"><span>1.</span> Rent Guarantee</h2>
        <p>Requirements for You to be approved for a Rent Guarantee provided by Pensio and administered by World set forth below.</p>
        <div class="root-list">
          <span>1.1</span>
          <p>Pensio Rent Guarantee Fee</p>
        </div>
        <ul class="parent-list">
          <li>
            <p>The Rent Guarantee fee (plus federal, state or county applicable taxes in all cases) is payable by You on the first day of each month as follows:</p>
            <ol class="inner-list-top">
              <li>
                <p>a monthly Rent Guarantee Fee as agreed upon and calculated on your Rent Guarantee e-registration enrolment and calculated based on Your monthly rent in respect of Your Lease agreement for the Term.</p>
              </li>
              <li>
                <p>during the Term and each renewal thereof, on the first day of each month for twelve (12) consecutive months.</p>
              </li>
            </ol>
          </li>
          <li>
            <p>The Rent Guarantee is subject to certain conditions and limitations, including those set out in this Agreement and the Rent Guarantee Summary. By accepting the terms of this Agreement, making payment of the first month’s Rent Guarantee fee, You acknowledge and confirm that You have reviewed the terms and conditions of this Agreement and the terms set out in the Rent Guarantee Summary.</p>
          </li>
          <li>
            <p>In the event You have a legal valid lease agreement with your landlord and valid claim under the Rent Guarantee, then You will pay any and all remaining unpaid Rent Guarantee fees for the Term. Pensio reserves the right to deduct or offset any unpaid Rent Guarantee fees from any payments made by Pensio under the claim.<br>
            <br>
            In the event You miss or fail to make two (2) consecutive payments or a total of three (3) payments within a six (6) month period, Your Rent Guarantees contained in the Rent Guarantee Summary to which these Rent Guarantee fees relate will be cancelled immediately. Pensio will NOT refund any payments made by You other than your initial payment, which is fully refundable in the first thirty (30) days</p>
          </li>
          <li>
            <p>Your Covenants to Pensio. You and Your legal co-tenant represents, warrants and covenants and the time of registration:</p>
            <ol class="inner-list-top">
              <li>
                <p>have a valid and legal lease agreement with a landlord.</p>
              </li>
              <li>
                <p>Your rent is current under the valid and legal lease agreement for such Unit, and that no Default exists on the date of registration thereof.</p>
              </li>
              <li>
                <p>You have confirmation from your employer that You have current long-term employment and are not subject to termination, layoff or aware of an impending strike or labor action by employees in respect of Your employer.&nbsp;</p>
              </li>
              <li>
                <p>You do not have a total disability or partial disability impeding Your ability to work; and</p>
              </li>
              <li>
                <p>You must retain documents to demonstrate compliance with the conditions of this Agreement to provide to the Administrator when making a claim.</p>
              </li>
            </ol>
          </li>
          <li>
            <p>Maximum rental Units. You can only register in respect of one (1) rental unit.</p>
          </li>
          <li>
            <p>Exclusions. This Agreement together with the Rent Guarantee Summary applies only to those locations in a geographical jurisdiction permitted by law and regulatory authorities.</p>
          </li>
        </ul>
        <h2 class="number-counter mar-bot-25"><span>2.</span> Electronic Disclosure and Consent</h2>
        <div class="root-list">
          <span>2.1</span>
          <p>You consent to receive any and all documents (including this Rent Guarantee Agreement together with the Rent Guarantee Summary and documents relating thereto), disclosures, notices and other communications, including any notice that may be legally required to be provided to You regarding this Agreement, in electronic form to the electronic mailing address that You have provided.</p>
        </div>
        <div class="root-list">
          <span>2.2</span>
          <p>Your submission of an electronic enrollment shall constitute its acknowledgment that it has access to the software and hardware necessary to receive, by way of electronic means, disclosures and notices, including access to the internet, an electronic mailing address, Adobe Acrobat Reader, and a personal computer or other device which is capable of accessing the internet. To retain such disclosures and information, Your internet access device must have the ability to download to Your hard drive, or any external media storage, or be able to print the disclosures and notices. If, after You have consented to the terms and conditions of this Agreement, a change in the hardware or software requirements needed to access disclosures and notices related to this Agreement creates a risk that You will not be able to access or retain subsequent electronic disclosures and notices which are the subject of this Agreement, we will provide You with a statement of the revised requirements for access to such disclosures and notices along with the right to withdraw Your consent.</p>
        </div>
        <div class="root-list">
          <span>2.3</span>
          <p>It shall be Your responsibility to maintain accurate contact information with Pensio and its Administrator and to contact Pensio immediately if Your electronic or postal mail address changes. At Your written request, Pensio shall provide You with a paper copy of materials, documents and disclosures related to this Agreement (and You may choose to not opt-in to electronic disclosure and consent; You are not required to receive documents electronically). Further, upon Your written request, You may withdraw Your electronic disclosure and consent under this Section.&nbsp;</p>
        </div>
        <div class="root-list">
          <span>2.4</span>
          <p>You have read, agrees and acknowledges the terms and conditions of the Privacy Policy located on <a href="https://www.worldins.net/pensiotenants" style="color: #3c3d3e">www.worldins.net/pensiotenants</a><br></p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>3.</span> Rent Guarantee Term</h2>
        <div class="root-list">
          <span>3.1</span>
          <p>This Agreement and the Term will be renewed at the end of the then current Term upon receipt, subject to acceptance by Pensio, of; (i) a properly completed renewal registration provided by Pensio and (ii) any applicable Rent Guarantee fee then payable and (iii) you have an existing valid and legal lease agreement All required renewal materials shall be provided to Pensio no later than 30 days prior to the applicable renewal date. Any applicable Rent Guarantee fee then payable shall be paid and due on the renewal date. Renewal shall not be effective until Pensio is in receipt of the fully paid Rent Guarantee fee then payable.</p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>4.</span> Termination</h2>
        <div class="root-list">
          <span>4.1</span>
          <p>Pensio may terminate this Agreement, upon written notice given to You, if (a) your registration or any renewal thereof was inaccurate or untrue in any respect; or (b) if You have breached any of its representations, warranties or covenants or failed to satisfy its liabilities or obligations under this Agreement together with the Rent Guarantee Summary.</p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>5.</span> General Provisions</h2>
        <div class="root-list">
          <span>5.1</span>
          <p><strong>Questions/Claims</strong>. Following issuance of the approved Rent Guarantee Agreement together with the Rent Guarantee Summary, You may direct all questions concerning the terms under the Rent Guarantee Agreement together with the Rent Guarantee Summary and the Rent Guarantee to the Administrator in accordance with the Administrator’s contact information listed on the Rent Guarantee Agreement and Rent Guarantee Summary.</p>
        </div>
        <div class="root-list">
          <span>5.2</span>
          <p><strong>Binding Effect</strong>. Neither this Agreement, the Rent Guarantee Summary nor any rights or services hereunder may be assigned by You, without the prior written consent of Pensio. This Agreement shall be binding upon and inure to the benefit of Pensio and You, as well as their respective successors and permitted assigns, if applicable.</p>
        </div>
        <div class="root-list">
          <span>5.3</span>
          <p><strong>Entire Agreement and Governing Law</strong>. In the event of any inconsistency between any provision of this Agreement and the Rent Guarantee Summary, the Rent Guarantee Summary terms shall govern. The terms of this Agreement together with the Rent Guarantee Summary constitute the complete and exclusive statement of the terms and conditions between the parties with respect to the subject matter hereof and supersede prior and contemporaneous oral or written statements which are inconsistent herewith. This Agreement shall be governed by the laws of the State of Nevada without giving effect to its principles of conflicts of law.</p>
        </div>
        <div class="root-list">
          <span>5.4</span>
          <p><strong>Amendment</strong>. This Agreement may only be amended by written agreement duly executed by authorized representatives of the parties.</p>
        </div>
        <div class="root-list">
          <span>5.5</span>
          <p><strong>Privacy</strong>. Any of Your personal information which Pensio collects is subject to the Pensio’s and the Administrator’s Privacy Policy.&nbsp;</p>
        </div>
        <div class="root-list">
          <span>5.6</span>
          <p><strong>Disclaimer of Liability</strong>. In the absence of gross negligence or wilful misconduct on the part of Administrator, Pensio shall have no liability in regard to the services provided, by the Administrator by any third party or service provider.&nbsp;</p>
        </div>
        <div class="root-list">
          <span>5.7</span>
          <p><strong>Indemnity and General Release</strong>. Under no circumstances will Pensio be liable for any special, indirect, incidental, punitive or consequential damages (including without limitation, loss of profit or revenue) arising out of or related to this Rent Guarantee Agreement together with the Rent Guarantee Summary or otherwise.</p>
        </div><br>
        <h2 class="mar-bot-25">Exhibit A – Tenant Name and Rental Address</h2>
        <div class="table-data">
          <table>
            <thead>
              <tr>
                <th>Tenant Name</th>
                <th>Street Address</th>
                <th>Unit/Apt. #</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
              </tr>
            </thead>
            <tr>
              <td><%= @policy.primary_user.profile.full_name %></td>
              <td><%= @policy.primary_user.address.street_number %> <%= @policy.primary_user.address.street_name %></td>
              <td><%= @policy.primary_user.address.street_two %></td>
              <td><%= @policy.primary_user.address.city %></td>
              <td><%= @policy.primary_user.address.state %></td>
              <td><%= @policy.primary_user.address.zip_code %></td>
            </tr>
            <% if @policy.users.count > 1 %>
            <tr>
              <td><%= @policy.users[1].profile.full_name %></td>
              <td><%= @policy.primary_user.address.street_number %> <%= @policy.primary_user.address.street_name %></td>
              <td><%= @policy.primary_user.address.street_two %></td>
              <td><%= @policy.primary_user.address.city %></td>
              <td><%= @policy.primary_user.address.state %></td>
              <td><%= @policy.primary_user.address.zip_code %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
  
    </div>
  
  </body>

</html>
