<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=595">
      <!-- template CSS -->
      <style>
          @charset "UTF-8";
  
          a,
          abbr,
          acronym,
          address,
          applet,
          article,
          aside,
          audio,
          b,
          big,
          blockquote,
          body,
          canvas,
          caption,
          center,
          cite,
          code,
          dd,
          del,
          details,
          dfn,
          div,
          dl,
          dt,
          em,
          embed,
          fieldset,
          figcaption,
          figure,
          footer,
          form,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          header,
          hgroup,
          html,
          i,
          iframe,
          img,
          ins,
          kbd,
          label,
          legend,
          li,
          mark,
          menu,
          nav,
          object,
          ol,
          output,
          p,
          pre,
          q,
          ruby,
          s,
          samp,
          section,
          small,
          span,
          strike,
          strong,
          sub,
          summary,
          sup,
          table,
          tbody,
          td,
          tfoot,
          th,
          thead,
          time,
          tr,
          tt,
          u,
          ul,
          var,
          video {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 100%;
              font: inherit;
              vertical-align: baseline
          }
  
          :focus {
              outline: 0
          }
  
          article,
          aside,
          details,
          figcaption,
          figure,
          footer,
          header,
          hgroup,
          menu,
          nav,
          section {
              display: block
          }
  
          body {
              line-height: 1
          }
  
          ol,
          ul {
              list-style: none
          }
  
          blockquote,
          q {
              quotes: none
          }
  
          blockquote:after,
          blockquote:before,
          q:after,
          q:before {
              content: '';
              content: none
          }
  
          table {
              font-size: 0.5rem !important;
              border-collapse: collapse;
              border-spacing: 0
          }
  
          input[type=search]::-webkit-search-cancel-button,
          input[type=search]::-webkit-search-decoration,
          input[type=search]::-webkit-search-results-button,
          input[type=search]::-webkit-search-results-decoration {
              -webkit-appearance: none;
              -moz-appearance: none
          }
  
          input[type=search] {
              -webkit-appearance: none;
              -moz-appearance: none;
              -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box
          }
  
          textarea {
              overflow: auto;
              vertical-align: top;
              resize: vertical
          }
  
          audio,
          canvas,
          video {
              display: inline-block;
              max-width: 100%
          }
  
          audio:not([controls]) {
              display: none;
              height: 0
          }
  
          [hidden] {
              display: none
          }
  
          html {
              font-size: 100%;
              -webkit-text-size-adjust: 100%;
              -ms-text-size-adjust: 100%
          }
  
          a:focus {
              outline: thin dotted
          }
  
          a:active,
          a:hover {
              outline: 0
          }
  
          img {
              border: 0;
              -ms-interpolation-mode: bicubic
          }
  
          figure {
              margin: 0
          }
  
          form {
              margin: 0
          }
  
          fieldset {
              border: 1px solid silver;
              margin: 0 2px;
              padding: .35em .625em .75em
          }
  
          legend {
              border: 0;
              padding: 0;
              white-space: normal
          }
  
          button,
          input,
          select,
          textarea {
              font-size: 100%;
              margin: 0;
              vertical-align: baseline
          }
  
          button,
          input {
              line-height: normal
          }
  
          button,
          select {
              text-transform: none
          }
  
          button,
          html input[type=button],
          input[type=reset],
          input[type=submit] {
              -webkit-appearance: button;
              cursor: pointer
          }
  
          button[disabled],
          html input[disabled] {
              cursor: default
          }
  
          input[type=checkbox],
          input[type=radio] {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              padding: 0
          }
  
          input[type=search] {
              -webkit-appearance: textfield;
              -moz-box-sizing: content-box;
              -webkit-box-sizing: content-box;
              box-sizing: content-box
          }
  
          input[type=search]::-webkit-search-cancel-button,
          input[type=search]::-webkit-search-decoration {
              -webkit-appearance: none
          }
  
          button::-moz-focus-inner,
          input::-moz-focus-inner {
              border: 0;
              padding: 0
          }
  
          textarea {
              overflow: auto;
              vertical-align: top
          }
  
          table {
              border-collapse: collapse;
              border-spacing: 0
          }
  
          button,
          html,
          input,
          select,
          textarea {
              color: #222
          }
  
          ::-moz-selection {
              background: #b3d4fc;
              text-shadow: none
          }
  
          ::selection {
              background: #b3d4fc;
              text-shadow: none
          }
  
          img {
              vertical-align: middle
          }
  
          fieldset {
              border: 0;
              margin: 0;
              padding: 0
          }
  
          textarea {
              resize: vertical
          }
  
          .chromeframe {
              margin: .2em 0;
              background: #ccc;
              color: #000;
              padding: .2em 0
          }
  
          :root {
              font-size: 36px
          }
  
          html {
              scroll-behavior: smooth;
              font-family: sans-serif;
              line-height: 1.15;
              -webkit-text-size-adjust: 100%;
              -webkit-tap-highlight-color: transparent
          }
  
          *,
          ::after,
          ::before {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box
          }
  
          body {
              background-color: #fff;
              line-height: 1.5;
              font-weight: 400;
              color: #3c3d3e;
              font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
              font-size: 36px
          }
  
          h1 {
              font-size: 30px;
              color: #009983;
              margin: 0;
              padding: 0;
              margin-bottom: 48px;
              font-weight: 400
          }
  
          h2 {
              font-size: 26px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h3 {
              font-size: 20px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h4 {
              font-size: 14px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          h5 {
              font-size: 12px;
              color: #009983;
              margin: 0;
              padding: 0
          }
  
          p {
              font-size: 14px;
              margin: 0;
              margin-bottom: 15px;
              color: #3c3d3e
          }
  
          p strong {
              font-weight: 700
          }
  
          .main-content {
              font-size: 0.5rem !important;
              max-width: 500px;
              width: 100%;
              margin: 0 0 0 0;
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              padding: 10px 0
          }
  
          a {
              color: #009983;
              text-decoration: none
          }
  
          a:hover,
          afocus {
              text-decoration: none;
              color: #333
          }
  
          .left-panel {
              -webkit-box-flex: 0;
              -webkit-flex: 0 0 75px;
              -moz-box-flex: 0;
              -ms-flex: 0 0 75px;
              flex: 0 0 75px;
              max-width: 75px
          }
  
          .left-panel figure {
              margin: 0;
              padding: 0;
              text-align: center;
              position: relative
          }
  
          .left-panel figure img {
              width: 70px;
              height: auto;
              margin-right: 40px;
          }
  
          .right-panel {
              -webkit-box-flex: 0;
              -webkit-flex: 0 0 calc(100% - 100px);
              -moz-box-flex: 0;
              -ms-flex: 0 0 calc(100% - 100px);
              flex: 0 0 calc(100% - 100px);
              max-width: calc(100% - 100px);
              border-left: solid 1px #009983;
              padding: 0 10px 0px 10px;
              margin-left: 10px;
          }
  
          .number-counter {
              padding-left: 75px;
              position: relative
          }
  
          .number-counter span {
              position: absolute;
              left: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%)
          }
  
          .mar-bot-25 {
              margin-bottom: 25px
          }
  
          .root-list {
              margin: 0;
              padding: 0;
              margin-left: 14px;
              list-style-type: none;
              position: relative;
              padding-left: 34px
          }
  
          .root-list span {
              position: absolute;
              left: 0;
              top: 0
          }
  
          ul.parent-list {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: my-sec-counter;
              margin-left: 54px
          }
  
          ul.parent-list>li {
              counter-increment: my-sec-counter;
              position: relative;
              padding-left: 38px
          }
  
          ul.parent-list>li:before {
              content: "("counter(my-sec-counter) ")";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ol.inner-list-top {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter
          }
  
          ol.inner-list-top>li {
              counter-increment: abc-counter;
              position: relative;
              padding-left: 38px
          }
  
          ol.inner-list-top>li:before {
              content: "("counter(abc-counter, lower-alpha) ")";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ul.inner-list-top2 {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter2;
              margin-left: 20px
          }
  
          ul.inner-list-top2>li {
              counter-increment: abc-counter2;
              position: relative;
              padding-left: 20px
          }
  
          ul.inner-list-top2>li:before {
              content: counter(abc-counter2, lower-alpha) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .bottom-end {
              padding-top: 60px;
              padding-bottom: 60px
          }
  
          .footer-end-box {
              max-width: 240px;
              border-top: solid 1px #000;
              padding-top: 5px
          }
  
          .footer-end-box p {
              margin-bottom: 3px
          }
  
          img {
              border: 0;
              outline: 0
          }
  
          .table-data {
              padding: 40px 0
          }
  
          .table-data table {
              width: 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              background-color: transparent;
              border-collapse: collapse;
              border: solid 1px #009983
          }
  
          .table-data table thead {
              background-color: #009983
          }
  
          .table-data table tr td,
          .table-data table tr th {
              padding: .75rem;
              min-height: 46px;
              vertical-align: top;
              text-align: center;
              color: #fff;
              vertical-align: middle;
              border-top: 1px solid #009983
          }
  
          .table-data table tr td {
              color: #333;
              border-right: solid 1px #009983
          }
  
          .table-data table tr td:last-child {
              border-right: transparent
          }
  
          .table-data table tr th {
              background-color: #009983;
              border-left: solid 1px transparent
          }
  
          .table-data table tr th+th {
              border-left: solid 1px #fff
          }
  
          .table-data2 {
              padding: 20px 0
          }
  
          .table-data2 table {
              width: 100%;
              max-width: 100%;
              margin-bottom: 1rem;
              background-color: transparent;
              border-collapse: collapse;
              border: solid 1px #000
          }
  
          .table-data2 table thead {
              background-color: #009983
          }
  
          .table-data2 table tr td,
          .table-data2 table tr th {
              padding: .75rem;
              min-height: 46px;
              vertical-align: top;
              text-align: center;
              color: #fff;
              vertical-align: top;
              border-top: 1px solid #009983
          }
  
          .table-data2 table tr td {
              color: #333;
              border-right: solid 1px #000;
              text-align: left
          }
  
          .table-data2 table tr td:last-child {
              border-right: transparent
          }
  
          .table-data2 table tr th {
              background-color: #009983;
              border-left: solid 1px #000;
              vertical-align: middle
          }
  
          .table-data2 table tr th+th {
              border-left: solid 1px #000
          }
  
          .table-data2 .bder-bot {
              border-bottom: solid 1px #000;
              border-top: solid 1px #000
          }
  
          .table-data2 sup {
              font-size: 11px;
              position: relative;
              top: -8px
          }
  
          p sup {
              font-size: 11px;
              position: relative;
              top: -8px
          }
  
          .text-justify p {
              text-align: justify
          }
  
          ul.list-arrow {
              margin: 10px 0;
              padding: 0;
              list-style-type: none;
              margin-left: 20px;
              padding-bottom: 8px
          }
  
          ul.list-arrow li {
              position: relative;
              padding-left: 20px
          }
  
          ul.list-arrow li p {
              margin-bottom: 5px
          }
  
          ul.list-arrow li:before {
              content: "›";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .address-box {
              margin-bottom: 15px;
              padding: 5px 0
          }
  
          .address-box .address-inner {
              padding-left: 14px;
              border-left: solid 2px #e8e8e8
          }
  
          ul.parent-list-2 {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: alphacounter;
              margin-left: 54px
          }
  
          ul.parent-list-2>li {
              counter-increment: alphacounter;
              position: relative;
              padding-left: 38px
          }
  
          ul.parent-list-2>li:before {
              content: counter(alphacounter, lower-alpha) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          ol.romancount {
              margin: 0;
              padding: 0;
              list-style-type: none;
              counter-reset: abc-counter
          }
  
          ol.romancount>li {
              counter-increment: abc-counter;
              position: relative;
              padding-left: 38px
          }
  
          ol.romancount>li:before {
              content: counter(abc-counter, lower-roman) ".";
              position: absolute;
              left: 0;
              top: 0
          }
  
          .bold-it {
              font-weight: 700;
              font-style: italic;
              text-decoration: underline
          }
          
          table tr th,
          table tr td {
            font-size: 0.5rem;
          }
  
          @media print {
  
              h1,
              h2,
              h3,
              h4,
              h5 {
                  page-break-after: avoid
              }
  
              figure,
              table {
                  page-break-inside: avoid
              }
  
              .normal-brand {
                  -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
                  border: 0;
                  outline: 0
              }
  
              .table-data,
              .table-data2 {
                  padding: 20px 0
              }
  
              .table-data table,
              .table-data2 table {
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 1rem;
                  background-color: transparent;
                  border-collapse: collapse;
                  border: solid 1px #000
              }
  
              .table-data table thead,
              .table-data2 table thead {
                  background-color: transparent
              }
  
              .table-data table tr td,
              .table-data table tr th,
              .table-data2 table tr td,
              .table-data2 table tr th {
                  padding: .75rem;
                  min-height: 46px;
                  vertical-align: top;
                  text-align: center;
                  color: #333;
                  vertical-align: middle;
                  border-top: 1px solid #000
              }
  
              .table-data table tr td,
              .table-data2 table tr td {
                  color: #333;
                  border-right: solid 1px #000
              }
  
              .table-data table tr td:last-child,
              .table-data2 table tr td:last-child {
                  border-right: transparent
              }
  
              .table-data table tr th,
              .table-data2 table tr th {
                  background-color: transparent;
                  border-left: solid 1px #000
              }
  
              .table-data table tr th+th,
              .table-data2 table tr th+th {
                  border-left: solid 1px #000
              }
          }
      </style>
      <title>Lease Co-Guarantee Agreement</title>
  </head>

  <body>
  
    <div class="main-content">
      <div class="left-panel">
        <figure>
          <img src="https://gc-public-prod.s3-us-west-2.amazonaws.com/images/pensio-brand.png" alt="" class="normal-brand"> 
        </figure>
      </div>   

      <div class="right-panel">
        <h1>Lease Co-Guarantee Agreement</h1>
        <div class="fill-text">
          <p>This Lease Co-Guarantee Agreement (the “<strong>Agreement</strong>”) is made as of the</p>
          <p><strong><%= @policy.effective_date.strftime("%e") %></strong> day of <strong><%= @policy.effective_date.strftime("%B") %></strong>,
            <strong><%= @policy.effective_date.strftime("%Y") %></strong> (the "<strong>Effective Date"</strong>)</p>
          <p>Between:</p>
          <p>Pensio Tenants Corp., a Nevada registered company
            (“<strong>Co-Guarantor</strong>” or “<strong>Pensio</strong>” or “<strong>PensioTenants</strong>” or “<strong>Us</strong>”)
          </p>
          <p>-and-</p>
          <p><u><%= @policy.primary_user.profile.full_name %></u> (“<strong>Principal Tenant</strong>” or
            “<strong>You</strong>” or “<strong>Your</strong>”)</p>
        </div>
        <p>
          who resides <%= @policy.primary_user.address&.full %>, and whose monthly rent is <%= ActionController::Base.helpers.number_to_currency(@policy.policy_application&.fields&.[]('monthly_rent')&.to_f) %>,
          and who is the principal tenant and guarantor of a valid and existing residential lease agreement,
          and who pays the monthly rent. You have applied for a <%= @policy.policy_application&.fields&.[]('guarantee_option') %> Months Rent
          Payment by Us to Your Landlord pursuant to the terms and conditions of this Agreement and the
          Lease Co-Guarantee Summary attached hereto as Exhibit A forming part of this Agreement.
        </p>
        <p>
          You agree to pay a monthly Lease Co-Guarantee Fee of <%= ActionController::Base.helpers.number_to_currency(@policy.premium.total_fees.to_f / 100) %> for a period of twelve months,
          from the registration and subsequent renewals received from You in writing pursuant to Articles 3 and 4,
          and the Terms and Conditions of this Agreement.
        </p>
        <h2>Definitions</h2>
        <br>
        <p>“<strong>Administrator</strong>”  means   the   Managing   General   Agent,   Licensed   Insurance   Broker,
          Program Administrator and Claims Agent, World Insurance Associates LLC, 656 Shrewsbury Avenue, Suite 200, Tinton
          Falls,    NJ    07701;    <a href="www.worldins.net/pensiotenants">www.worldins.net/pensiotenants</a>;    telephone
          <a href="tel:+1888891-0051">+1    (888)    891-0051</a>; <a href="mailto:rentpaid@worldins.net">rentpaid@worldins.net</a>.</p>
        <br>
        <p>“<strong>Agreement</strong>”  means  this  Lease  Co-Guarantee  Agreement  together  with  the  Lease  Co-Guarantee Summary,
          attached hereto as Exhibit A forming the terms and conditions of this Agreement.</p>
        <br>
        <p>“<strong>Bill Cycle Date</strong>” means the reoccuring day of each month, commencing on the Enrollment Date, upon which the
          Lease Co-Guarantee Fee becomes due and owing by the Tenant and payable to Pensio.</p>
        <br>
        <p>“<strong>Lease</strong>” means Your valid and existing lease agreement, naming You as principal tenant and guarantor.</p>
        <br>
        <p>“<strong>Lease  Co-Guarantor</strong>”  means  pursuant  to  this  Agreement,  Pensio  Tenants  Corp.,  a  State  of  Nevada
          Corporation 9205 W. Russell Rd, Bldg 3, Suite 240, Las Vegas NV, 89148; <a href="mailto:info@pensiotenants.com">info@pensiotenants.com</a>.</p>
        <br>
        <p>“<strong>Registration</strong>” or “<strong>Registration Date</strong>” means the date in which You have enrolled.</p>
        <br>
        <p>“<strong>Rent to be Paid by Us to Your Landlord</strong>” means the Rent to be Paid by Us to Your Landlord subject to the
          terms and conditions of this Agreement and the Lease Co-Guarantee Summary, attached hereto as Exhibit A. </p>
        <br>
        <p>“<strong>You</strong>” or “<strong>Your</strong>” refers to You the Tenant specified in the caption above.</p>


        <h2 class="number-counter mar-bot-25"><span>1.</span> Rent to be Paid by Us to Your Landlord</h2>
        <p>Requirements for You to be enrolled for Us to provide You with this Agreement and Rent to be Paid  by  Us
          to  Your  Landlord  if  You  have  involuntarily  lost  your  employment  or  have  become disabled and
          unable to continue to be employed are subject to the terms and conditions of this Agreement.</p>
        <div class="root-list">
          <span>1.1</span>
          <p>Lease Co-Guarantee Fee</p>
          <ol class="inner-list-top">
            <li><p>The Lease Co-Guarantee Fee of <%= ActionController::Base.helpers.number_to_currency(@policy.premium.total_fees.to_f / 100) %> payable by You either (i) pre-paid for
              the first twelve (12) month period; or (ii) on Your bill cycle date of each month.</p></li>
            <li><p>In the event You miss or fail to make two (2) consecutive payments, or a total of three (3) payments
              within a six (6) month period, this Lease Co-Guarantee Agreement will be cancelled without notice to You or Your Landlord.</p></li>
            <li><p>Once you enroll and register, you can opt out of the Lease Co-Guarantee Agreement within Three
              (3) calendar days.  Administrator will NOT refund any payments made by You other than your initial payment,
              which is fully refundable in the first three (3) days from  enrollment. You  will  be  fully  refunded  upon
              you  providing  email  notice  to <a href="mailto:rentpaid@worldins.net">rentpaid@worldins.net</a>.</p></li>
            <li><p>In the event You have a valid claim under this Lease Co-Guarantee, then You will pay any  and  all
              remaining  unpaid  Lease  Co-Guarantee  Fees  for  the  Term.  Administrator reserves  the  right  to
              deduct  or  offset  any  unpaid  Lease  Co-Guarantee  fees  from  any payments made by
              Administrator in respect of a Claim.</p></li>
          </ol>
        </div>
        <div class="root-list">
          <span>1.2</span>
          <p> This Agreement is subject to certain conditions and limitations, including those set out in this Agreement and the Lease Co-Guarantee Summary, attached hereto as Exhibit A.</p>
        </div>
        <div class="root-list">
          <span>1.3</span>
          <p>You represent and warrant at the time of registration:</p>
          <ol class="inner-list-top">
            <li><p>You have a valid and existing residential lease agreement;</p></li>
            <li><p>You are the principal tenant residing full time in the unit;</p></li>
            <li><p>You are not in default of rent at the time of registration;</p></li>
            <li><p>You  are  employed  full  time  and  eligible  for  government  unemployment  insurance benefits;</p></li>
            <li><p>Must be working a minimum of an average of 24 hours per week for the past 26 weeks prior to job loss or disability;</p></li>
            <li><p>You are not a seasonally employed;</p></li>
            <li><p>You are not employed by or have services contract with an immediate member of Your family;</p></li>
            <li><p>You are not employed by or have services contract with Your Landlord;</p></li>
            <li><p>You confirm that You are currently employed and You are not subject to termination, layoff or aware of an impending strike or labor action by employees in respect of Your employer;</p></li>
            <li><p>If self-employed, You must have a services contract for the full 12-month term of the Lease Co-Guarantee Agreement and proof of payment made by each client for the past 12 months;</p></li>
            <li><p>You do not have a current or pre-existing disability impeding Your ability to work or be employed full time; and</p></li>
            <li><p>You agree to retain documents to demonstrate compliance with the conditions of this Agreement and to provide the Administrator in the event of rent claim for Us to Pay Rent to Your Landlord:</p>
              <ul style="list-style: lower-roman">
                <li><p>a  copy  of  Your  Lease  Agreement,  along  with  contact  information  for  Your Landlord;</p></li>
                <li><p>two pieces of government identification;</p></li>
                <li><p>record of employment;</p></li>
                <li><p>a copy of Your government unemployment insurance benefits, if applicable;</p></li>
                <li><p>a copy of Your employment status letter at the time of Registration pursuant to the Lease Co-Guarantor Agreement, if applicable;</p></li>
                <li><p>a  copy  of  Your  verifiable  self-employment  services  contract  and  proof  of payment made by each client for the past 12 months, if applicable;</p></li>
                <li><p>Attending Physician’s Statement stating Your disability diagnosis and reasons why You are unable to be Employed, if applicable; and</p></li>
                <li><p>a copy of Your Government and Private Insurance Health Cards, if applicable</p></li>
              </ul>
            </li>
          </ol>
        </div>
        <h2 class="number-counter mar-bot-25"><span>2.</span> Electronic Disclosure and Consent</h2>
        <div class="root-list">
          <span>2.1</span>
          <p>You consent to receive any and all document, notices and other communications, including any notice that may
            be legally required to be provided to You regarding this Agreement, in electronic form to the
            electronic mailing address that You have provided.</p>
        </div>
        <div class="root-list">
          <span>2.2</span>
          <p> It shall be Your responsibility to maintain accurate contact information with Pensio and its Administrator
            and  to  contact  the  Administrator  immediately  if  Your  electronic  email  or postal mail address changes.
            At Your written request, and an administrative fee of twenty-five  dollars  ($25.00),  Administrator  shall
            provide  You  with  a  paper  copy  of  materials, documents and disclosures related to this Agreement.</p>
        </div>
        <div class="root-list">
          <span>2.3</span>
          <p>You  have  read,  agree  and  acknowledge  the  terms  and  conditions  of  this  Agreement,
            the Lease Co-Guarantee Summary and the Privacy Policy located on <a href="www.worldins.net/pensiotenants">www.worldins.net/pensiotenants</a>.</p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>3.</span>Lease Co-Guarantee Term</h2>
        <div class="root-list">
          <p>The  Term  of  this  Agreement  is  twelve  (12)  months,  subject  to  annual  renewal  initiated  by  You,
            upon  written  electronic  notice  to  the  Administrator  ninety  (90)  days  prior  to  the  end  of  each
            twelve (12) month term, and payment of the Lease Co-Guarantee Fee, by You. </p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>4.</span> Termination</h2>
        <div class="root-list">
          <span>4.1</span>
          <p>The  Administrator  may  terminate  this  Agreement,  upon  written  notice  given  to  You,  if  (i) Your
            registration  or  any  renewal  thereof  was  inaccurate  or  untrue  in  any  respect;  or  (ii)  if You have
            not paid Your Lease Co-Guarantee Fee.</p>
        </div>
        <h2 class="number-counter mar-bot-25"><span>5.</span> General Provisions</h2>
        <div class="root-list">
          <span>5.1</span>
          <p><u>Questions/Claims</u>. You must direct all Your questions and claims to the Administrator.</p>
        </div>
        <div class="root-list">
          <span>5.2</span>
          <p><u>Binding Effect</u>. This Agreement shall be binding upon and inure to the benefit of Pensio, the Administrator and You.</p>
        </div>
        <div class="root-list">
          <span>5.3</span>
          <p><u>Entire Agreement and Governing Law</u>. This Agreement and Exhibits shall be governed by the laws
            of the state or county in which You reside.</p>
        </div>
        <div class="root-list">
          <span>5.4</span>
          <p><u>Amendment</u>. This Agreement may only be amended in writing and countersigned by both You and the Administrator.</p>
        </div>
        <div class="root-list">
          <span>5.5</span>
          <p><u>Privacy</u>. Any  of  Your  personal  information  which  Pensio  or  the  Administrator  collects
            is subject to the Administrator’s Privacy Policy.</p>
        </div>
        <div class="root-list">
          <span>5.6</span>
          <p><u>Indemnity and General Release</u>.Under no circumstances will Pensio be liable for any special, indirect,
            incidental, punitive or consequential damages (including without limitation, loss of profit  or  revenue)
            arising  out  of  or  related  to  this  Agreement  together  with  the  Rent Guarantee Summary or otherwise.</p>
        </div>
        <br>
      </div>
    </div>
  </body>
</html>
